
<div class="our-milestone-content">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="main-banner item-bg-one">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                              <div class="main-banner-text">
                                  <!-- <h2 style="">This site is under process</h2> -->

                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="">
  <app-about-nav></app-about-nav>
<div class="container">
  <div class="my-5 text-center">
    <img src="../../../../assets/images/timeline-metrochem.png" alt="">
    <!-- <p>Metrochem API Pvt Ltd was established by Dr. N.V. Rao in the year 2004, with a grand vision of being the “most preferred supply partner to pharmaceutical customers worldwide”. The management aimed to achieve this vision with a clear focus on quality, affordability and products at Metrochem API Private Limited is one of the fastest growing manufacturers of Active Pharmaceutical Ingredients (APIs), Pellets (Semi finished Formulations) and Intermediates.</p>
  <p>Our strong commitment of providing quality products is boasted by in-depth industry knowledge, well-qualified team of professionals, as well as hi-tech and advanced infrastructure and as a result, creating mutually beneficial associations for all the parties involved.</p>
  <p>Our manufacturing facilities are approved by several international regulatory bodies such as ISO 9001-2015, USFDA, WHO: GMP, Cofepris and Japanese Accredited, inspected by KFDA authorities and awaiting certification and moving towards USFDA, EU GMP, MHRA & TGA in 2019. Adapting quickly to the ever-evolving demands, we have emerged as one of the fastest growing organization in the pharmaceutical industry across India. To cater our customer high volume requirements, we have dedicated each of our 6 manufacturing facilities to our 3 core product groups – APIs, Pelletization & Intermediates – reinforced by a well-equipped, centralized Research & Development laboratory.</p> -->
  </div>
</div>

</div>
