<div class="apis-under-validation">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-products-navbar></app-products-navbar>
  <div class="apis-under-validation-content">
    <div class="container">
      <div class="m-5">
        <div>
          <h2 class="text-center">Interested in knowing our pipeline products? Please reach out to us at  <a href="mailto:webleads@metroapi.com">webleads@metroapi.com</a> </h2>
        </div>

        <h4 class="text-center">
          We deliver customized Volume and Quality products to our customers
          across the world.
        </h4>
        <div class="text-center m-4 mb-5">
          <img src="../../../../assets/images/flags-300x29.png" alt="" />
        </div>
        <div class="mb-5">
          <span class="spical-text"
            >Disclaimer : Metrochem API Pvt Ltd respects the intellectual property
            rights of others. Some of the Active Pharmaceuticals Ingredients
            (APIs) listed in the Metrochem’s product list or brochure or in the
            product list uploaded in Metrochem’s website may be protected by a
            valid patent in India or in any other countries concerned. However,
            mentioning of the name of such product(s) in the product brochure or
            the product list shall not be construed as infringement in any manner
            whatsoever. Without prejudice to the foregoing, Metrochem’s supply of
            API being protected by a valid product patent, if any, is intended
            solely for uses reasonably relating to the development and submission
            of information required under any law for the time being inforce, in
            India, or in a country other than India that regulates the
            manufacture, use, sale or import of the said product, strictly under
            the conditions as set forth in Section 107A of the Indian patents Act,
            1970, as amended in 2005, or an equivalent provision (Bolar exemption)
            thereof in a country other than India. The disclaimer is applicable
            till the expiration of the corresponding product patent(s), if any, in
            the respective. countries concerned. None of the products will be
            supplied to the countries wherein this could be in conflict with
            existing laws. However, the final responsibility lies exclusively with
            the buyer/ultimate customer.</span
          >
        </div>
      </div>
      <!-- <div class="icons border-bottom mb-5">
        <div class="nav justify-content-evenly">
          <li class="nav-item">
            <span
              ><img src="../../../../assets/images/logo/web-icons-1.png" alt=""
            /></span>
            Available
          </li>
          <li class="nav-item">
            <span
              ><img src="../../../../assets/images/logo/web-icons-4.png" alt=""
            /></span>
            Initiated
          </li>
          <li class="nav-item">
            <span
              ><img
                src="../../../../assets/images/logo/web-icons-3.png"
                alt="" /></span
            >Scheduled
          </li>
          <li class="nav-item">
            <span
              ><img
                src="../../../../assets/images/logo/web-icons-2.png"
                alt="" /></span
            >Ready to file
          </li>
        </div>
      </div> -->

    </div>

    <!-- <div class="p-4" style="background-color: #f9fafc;">
      <div class="container">

        <div class="search-container nav justify-content-evenly">
          <mat-form-field appearance="fill">
            <mat-label>PRODUCT NAME</mat-label>
            <mat-select (selectionChange)="productName($event)">
              <mat-option value="Tedizolid Phosphate"
                >Tedizolid Phosphate</mat-option
              >
              <mat-option value="Vortioxetine Hydrobromide"
                >Vortioxetine Hydrobromide</mat-option
              >

              <mat-option value="Canagliflozin">Canagliflozin</mat-option>
              <mat-option value="Empagliflozin">Empagliflozin</mat-option>
              <mat-option value="Ertugliflozin L-PGA"
                >Ertugliflozin L-PGA</mat-option
              >
              <mat-option value="Trelagliptin Succinate"
                >Trelagliptin Succinate</mat-option
              >
              <mat-option value="Isavuconazonium Sulfate"
                >Isavuconazonium Sulfate</mat-option
              >
              <mat-option value="Topiroxostat">Topiroxostat</mat-option>
              <mat-option value="Lasmiditan">Lasmiditan</mat-option>
              <mat-option value="Apremilast">Apremilast</mat-option>
              <mat-option value="Edoxaban Tosylate">Edoxaban Tosylate</mat-option>
              <mat-option value="Vonoprazan Fumarate"
                >Vonoprazan Fumarate</mat-option
              >
              <mat-option value="Molnupiravir">Molnupiravir</mat-option>
              <mat-option value="Crisaborole">Crisaborole</mat-option>
              <mat-option value="Fingolimod Hydrochloride"
                >Fingolimod Hydrochloride</mat-option
              >
              <mat-option value="Elagolix Sodium">Elagolix Sodium</mat-option>
              <mat-option value="Eltrombopag">Eltrombopag</mat-option>
              <mat-option value="Mirabegron (Incl. Amorphous)"
                >Mirabegron (Incl. Amorphous)</mat-option
              >
              <mat-option value="Cenobamate">Cenobamate</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>THERAPEUTIC CATEGORY</mat-label>
            <mat-select (selectionChange)="therapeuticCategory($event)">
              <mat-option value="Antibiotic">Antibiotic</mat-option>
              <mat-option value="Antidepressant">Antidepressant</mat-option>
              <mat-option value="Antidiabetic">Antidiabetic</mat-option>
              <mat-option value="Antifungal">Antifungal</mat-option>
              <mat-option value="Antihyperuricemic(Gout)"
                >Antihyperuricemic(Gout)</mat-option
              >
              <mat-option value="Antimigraine">Antimigraine</mat-option>
              <mat-option value="Antipsoariatic">Antipsoariatic</mat-option>
              <mat-option value="Antithrombotic/Anticoagulant"
                >Antithrombotic/Anticoagulant</mat-option
              >
              <mat-option value="Antiulcerative">Antiulcerative</mat-option>
              <mat-option value="Antiviral">Antiviral</mat-option>
              <mat-option value="Atopic Dermatitis">Atopic Dermatitis</mat-option>
              <mat-option value="Multiple Sclerosis/Immunomodulator"
                >Multiple Sclerosis/Immunomodulator</mat-option
              >
              <mat-option value="Pain associated with Endometriosis"
                >Pain associated with Endometriosis</mat-option
              >
              <mat-option value="Thrombocytopenia">Thrombocytopenia</mat-option>
              <mat-option value="Overactive Bladder"
                >Overactive Bladder</mat-option
              >
              <mat-option value="Antiepileptic">Antiepileptic</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>CAS NUMBER</mat-label>
            <mat-select (selectionChange)="onChange($event)">
              <mat-option value="856867-55-5">856867-55-5</mat-option>
              <mat-option value="960203-27-4">960203-27-4</mat-option>
              <mat-option value="850649-62-6">850649-62-6</mat-option>
              <mat-option value="842133-18-0">842133-18-0</mat-option>
              <mat-option value="864070-44-0">864070-44-0</mat-option>
              <mat-option value="1210344-57-2">1210344-57-2</mat-option>
              <mat-option value="1029877-94-8">1029877-94-8</mat-option>
              <mat-option value="946075-13-4">946075-13-4</mat-option>
              <mat-option value="577778-58-6">577778-58-6 </mat-option>
              <mat-option value="439239-90-4">439239-90-4</mat-option>
              <mat-option value="608141-41-9">608141-41-9 </mat-option>
              <mat-option value="480449-71-6">480449-71-6</mat-option>
              <mat-option value="881681-00-1">881681-00-1</mat-option>
              <mat-option value="2349386-89-4">2349386-89-4</mat-option>
              <mat-option value="906673-24-3">906673-24-3</mat-option>
              <mat-option value="162359-56-0">162359-56-0</mat-option>
              <mat-option value="832720-36-2">832720-36-2 </mat-option>
              <mat-option value="496775-61-2">496775-61-2</mat-option>
              <mat-option value="223673-61-8">223673-61-8</mat-option>
              <mat-option value="71699-050-30">71699-050-30</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="search"
              autocomplete="off"
              (keyup)="filterData($event)"
            />
          </mat-form-field>
        </div>
        <table
          mat-table
          matSort
          [dataSource]="dataSource"
          class="mat-elevation-z8 text-center"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>S. NO</th>
            <td mat-cell *matCellDef="let element">
               <span class="mobile-label">S. NO:</span>
                <span class="span-text">{{ element.sno }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              PRODUCT NAME
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label">PRODUCT NAME</span>
              <span class="span-text">{{ element.productName }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="DMF">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>DMF</th>
            <td mat-cell *matCellDef="let element" class="imgicon">
              <span class="mobile-label">DMF</span>
              <span class="span-text"><img src="{{ element.DMF }}" alt="" /></span>
            </td>
          </ng-container>

          <ng-container matColumnDef="USDMF">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>USDMF</th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label">USDMF</span>
              <span class="span-text"><img src="{{ element.USDMF }}" alt="" /> </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="CEP">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>CEP</th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label">CEP</span>
              <span class="span-text"><img src="{{ element.CEP }}" alt="" /></span>
            </td>
          </ng-container>

          <ng-container matColumnDef="therapeuticCategory">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              THERAPEUTIC CATEGORY
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label">THERAPEUTIC CATEGORY</span>
              <span class="span-text">{{ element.therapeuticCategory }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="casNumber">
            <th mat-header-cell *matHeaderCellDef>CAS NUMBER</th>
            <td mat-cell *matCellDef="let element"><span class="mobile-label">CAS NUMBER</span> <span class="span-text">{{ element.casNumber }}</span> </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>DETAILS</th>
            <td mat-cell *matCellDef="let element">
              <span class="mobile-label">DETAILS</span>
              <a   target="_blank" routerLink="/apis-under-validation/{{element.id}}" (click)="scrollToTop()"> <span class="span-text">{{ element.details }} </span> </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator  #paginator
        [pageSize]="20"
        [pageSizeOptions]="[2, 5, 10, 25, 100]"> </mat-paginator>
      </div>
    </div> -->
  </div>

</div>
