.apis-under-validation {
  background-image: url(../../../../assets/images/banners/accrediations.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  h2 {
    color: black;
    font-weight: normal;
    font-size: 50px;
    margin-top: -80px;
    background-color: #fff;
    text-align: center;
    margin-top: 2rem;
  }
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0 !important;
}
h2{
  font-size: 18pt;
  margin:4rem  0 3rem;

}
p {
  font-size: 16pt !important;
  color: black !important;
  line-height: 2rem;
  font-family: inherit;
  margin-bottom: 2rem;
}
ul {
  padding-left: 1.5rem !important;
  list-style: square !important;
  li {
    list-style: disc !important;
    font-family: inherit;
    line-height: 2rem;
    font-size: 16px;
  }
}
.div-1 {
  margin-bottom: 2rem;
}

table {
  width: 100%;
  background-color: rgb(83, 82, 82);
}

td.mat-cell {
  border: 2px solid rgb(91, 91, 91);
  padding: 2px;
  color: snow;
}

th.mat-header-cell {
  color: white;
  background-color: #059adb ;
  padding: 2px;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-sort-header-arrow {
  display: none !important;
}

.search-container{
  background-color:  rgba(0,0,0,.04);
  margin-bottom: 1rem;

}

.spical-text{
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  line-height: 22px;
  font-weight: 600;
}
.mat-row:nth-child(even){
  background-color: #fff;
}

.mat-row:nth-child(odd){
  background-color: #f9f9f9;
}
.mat-row:hover{
  background-color: #f3f3f3;
}

.mat-paginator
{
  background-color: #f9fafc;
  margin-top: 1rem;
}
.nav-item{
  span{
    img{
      margin: 0 1rem .5rem;
    }
  }
}
@media (max-width: 500px) {
  .apis-under-validation {
    height: 255px;
    h2 {
      color: black;
      font-weight: normal;
      font-size: 26px;
      margin-top: -80px;
      background-color: #fff;
      text-align: center;
      margin-top: 2rem;
    }
  }
  h2{
    font-size:13pt;
    margin-top: 4rem;
  }
  h4{
    font-size: 11pt  !important;
  }
  .m-5{
    margin: 4rem 0 !important;
  }
  .mat-form-field{
    width: 100% !important;
  }
}

@media (min-width: 501px) and (max-width: 990px) {
  .apis-under-validation {
    height: 40vh;
    h2 {
      color: black;
      font-weight: normal;
      font-size: 32px;
      margin-top: -80px;
      background-color: #fff;
      text-align: center;
      margin-top: 2rem;
    }
  }
  h4{
    font-size: 10pt  !important;
  }
  .m-5{
    margin: 5rem 0 !important;
  }
  .spical-text{
        font-size: 11px !important;
      }
      .nav-item{
        span{
          img{
            margin: 0 1rem .5rem;
          }
        }
      }
      .mat-form-field-appearance-fill{
        font-size: 12px;
      }
      ::placeholder{
        font-size: 12px !important;
      }
      .mat-header-cell{
        font-size: 12px !important;
      }
      .mat-cell{
        font-size: 12px ;
      }
      .span-text{
        img{
          width: 20px;
        }
      }
      td.mat-cell:last-of-type{
        padding-right: 10px;
      }
      td.mat-cell:first-of-type{
        padding-left: 10px;
      }
}
// @media (min-width: 769px) and (max-width: 990px) {
//   .apis-under-validation {
//     height: 44vh;
//     h2 {
//       color: black;
//       font-weight: normal;
//       font-size: 36px;
//       margin-top: -80px;
//       background-color: #fff;
//       text-align: center;
//       margin-top: 2rem;
//     }
//   }
//   h4{
//     font-size: 12pt  !important;
//   }
//   .m-5{
//     margin: 5rem 0 !important;
//   }
//   .spical-text{
//     font-size: 11px !important;
//   }
//   .nav-item{
//     span{
//       img{
//         margin: 0 1rem .5rem;
//       }
//     }
//   }
//   .mat-form-field-appearance-fill{
//     font-size: 12px;
//   }
//   ::placeholder{
//     font-size: 12px !important;
//   }
//   .mat-header-cell{
//     font-size: 12px !important;
//   }
//   .mat-cell{
//     font-size: 12px ;
//   }
//   .span-text{
//     img{
//       width: 20px;
//     }
//   }
//   td.mat-cell:last-of-type{
//     padding-right: 10px;
//   }
//   td.mat-cell:first-of-type{
//     padding-left: 10px;
//   }
// }
@media (min-width:991px) and (max-width:1200px){
  .apis-under-validation {
    height: 44vh;
    h2 {
      color: black;
      font-weight: normal;
      font-size: 36px;
      margin-top: -80px;
      background-color: #fff;
      text-align: center;
      margin-top: 2rem;
    }
  }
  h4{
    font-size: 12pt  !important;
  }
  .m-5{
    margin: 5rem 0 !important;
  }
  .spical-text{
    font-size: 11px !important;
  }
  .nav-item{
    span{
      img{
        margin: 0 1rem .5rem;
      }
    }
  }
  .mat-form-field-appearance-fill{
    font-size: 12px;
  }
  ::placeholder{
    font-size: 12px !important;
  }
  .mat-header-cell{
    font-size: 12px !important;
  }
  .mat-cell{
    font-size: 12px ;
  }
  .span-text{
    img{
      width: 20px;
    }
  }
  td.mat-cell:last-of-type{
    padding-right: 10px;
  }
  td.mat-cell:first-of-type{
    padding-left: 10px;
  }
}
@media (min-width: 1201px)  and (max-width:1440px){
    .apis-under-validation {
      height: 55vh;
    }

  h4{
    font-size: 13pt  !important;
  }
  .m-5{
    margin: 5rem 0 !important;
  }
  .spical-text{
    font-size: 11px !important;
  }
  .nav-item{
    span{
      img{
        margin: 0 1rem .5rem;
      }
    }
  }
  .mat-form-field-appearance-fill{
    font-size: 13px;
  }
  ::placeholder{
    font-size: 13px !important;
  }
  .mat-header-cell{
    font-size: 13px !important;
  }
  .mat-cell{
    font-size: 13px ;
  }
  .span-text{
    img{
      width: 20px;
    }
  }
  td.mat-cell:last-of-type{
    padding-right: 10px;
  }
  td.mat-cell:first-of-type{
    padding-left: 10px;
  }
  ul{
    li{
      font-size: 13px;
    }
  }
}

@media (min-width:1201px) and (max-width:1440px){
  .apis-under-validation {
    height: 55vh;
  }
}

@media (min-width:1441px){
  .apis-under-validation {
    height: 55vh;
  }
  h4{
    font-size: 14pt  !important;
  }
  .m-5{
    margin: 6rem 0 !important;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 768px) {
  .mobile-label {
    // width: 100px;
    font-size: 9pt;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }
  tr.mat-row{
    height: 100%;
  }
  .mat-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 5px;
    display: flex;
  }
  .mobile-label{
    float: left;
  }
  .span-text{
    float: right;
    font-size: 9.5pt;
    width: 48%;
    text-align: left;
    img{
      width: 20px;
      height: 20px;
    }
  }
  .p-4 {
    padding: 0 !important;
  }
  td.mat-cell:first-of-type{
    padding: 5px 0 !important;

  }
  td.mat-cell:last-of-type{
    padding: 5px 0;
  }
  td.mat-cell{
    width: 100%;
    padding: 5px 0;
  }
  .spical-text{
    font-size: 10px !important;
    line-height: 0 !important;
  }
  ul {
    li{
      font-size: 10pt !important;
      line-height:20px !important;
    }
  }
  .nav-item{
    font-size: 9pt;
    span{
      img{
        width: 20px;
        height: 20px;
      }
    }
  }
  mat-form-field{
    mat-label{
      font-size: 12px;
    }
  }
  .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 5px !important;
  }
  .mat-row:nth-child(even){
    // padding: rem 0;
    border-top: 1px solid #059adb;
    border-bottom: 1px solid #059adb;
  }

}
