<div class="philosophy">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text">
                <!-- <h2 style="">This site is under process</h2> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="philosophy-content">
  <app-about-nav></app-about-nav>
  <div class="container">
    <div class="">
      <h3>Vision:</h3>
      <p>
        At Metrochem, we believe that we have a role to play in enriching lives
        through increased access to affordable healthcare. We believe that
        everything we do, every single decision, every single product, every
        single process, every one of our moves impact the world healthcare
        landscape in some way, shape or form, and we strive for that to be a
        positive impact. Our beliefs have instilled in us a sense of
        accountability. We are accountable to our customers, our partners, our
        employees, our families, and the society at large. We are accountable to
        produce the highest quality products, we are accountable to produce
        affordable medications, we are accountable for timely delivery of
        products, we are accountable to enhance the development of our
        employees, and we are accountable to give back to the community.
      </p>
      <p>
        As a purpose driven organization, we envision to constantly push our
        boundaries and challenge, not only us but also our competition to be
        more innovative, more efficient, more responsible and more committed to
        the cause of healthcare accessibility. Be it intermediates, APIs,
        pellets or FDFs, we aim to lead by example in whatever portfolio we pick
        and we aim to set standards.
      </p>
      <p>
        We pride ourselves in exceeding expectations. Our purpose and vision
        helped shape a culture driven by Innovation, Integrity, Customer Focus
        and Safety. These four pillars serve as a guidance for every employee at
        Metrochem.
      </p>
      <p></p>
    </div>
    <div>
      <p><b>A deep dive into our values:</b></p>
      <div class="div-1">
        <h3>Innovation:</h3>
        <p>
          Innovation gives an organization its competitive edge. Here at
          Metrochem we focus on innovation across people, process, products and
          technology, through Knowledge sharing and cross functional
          collaboration.
        </p>
      </div>
      <div class="div-1">
        <h3>Focus:</h3>
        <p>
          We respect the trust our stakeholders invested in us, and we strive to
          that the community has put in us to develop products that safe-guard
          the health, we have to carry out our actions with integrity.
        </p>
      </div>
      <div class="div-1">
        <h3>Integrity:</h3>
        <p>
          We are servant leaders. We are here to serve. If the opportunity to
          serve isn't there we wouldn't be in business. Our customers are a
          platform to serve our purpose. Therefore, we give them importance.
        </p>
      </div>
      <div class="div-1">
        <h3>Safety:</h3>
        <p>
          To do something, we have to be present. Safety promotes positivity
          which begets efficiency. Be it patient safety by maintaining high
          standards of Quality, environmental safety by properly adhering to it.
        </p>
      </div>
      <div class="div-1">
        <h3>Vision:</h3>
        <ul>
          <li>
            Our vision is to become the most preferred supply partner to our
            customers worldwide.
          </li>
          <li>
            We aim to achieve sustained growth through consistent delivery of
            innovative, customer-centric, world-class products.
          </li>
          <li>
            To be a World Class, Research-driven, Vertically Integrated
            Manufacturer of APIs, Intermediate chemicals, Pellets and Finished
            Dosage Forms.
          </li>
        </ul>
      </div>
      <div class="div-1">
        <h3>Mission:</h3>
        <ul>
          <li>To ensure 'Operational Excellence' in all our activities.</li>
          <li>To provide Excellent Customer Service on time.</li>
          <li>To operate in a 'Safe & Environment-friendly Atmosphere'.</li>
          <li>To conduct business with 'Integrity'..</li>
          <li>
            To ensure employees are well trained, motivated and satisfied.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
