<div class="our-facilities">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text">
                <!-- <h2 style="">This site is under process</h2> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-about-nav></app-about-nav>
  <div class="our-facilities-content">
    <div class="container">
      <div class="row row-cols-3">
        <div class="col">
          <div class="card">
            <h4 class="card-title text-center fw-bolder">UNIT I – API</h4>
            <img
              src="../../../../assets/images/unit-1.jpg"
              class="card-img-top"
              alt="Metrochem-Units"
            />
            <div class="card-body">
              <div class="row">
                <span>
                  <strong>Facility Accreditation: </strong>
                  ISO 9001:2015, PMDA, WHO-GMP and Local GMP certified
                </span>
                <span>
                  <strong>Site Facts:</strong>
                  1006.25 Sq Meters
                </span>
                <span>
                  <strong>Total Reactors:</strong>
                  10
                </span>
                <span>
                  <strong>Total Volume:</strong>
                  30 KL
                </span>
                <span>
                  <strong>Class 100000 Areas:</strong>
                  176.00 Sq Meters (Pharma grade manufacturing area) + 5.55
                  Sq.meters (Sampling & Dispensing area)
                </span>
                <a class="" rel="ugc" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <span>
                    <i
                      class="fa fa-address-card eael-creative-button-icon-left"
                      aria-hidden="true"
                    ></i>
                    CLICK FOR ADDRESS
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h4 class="card-title text-center fw-bolder">
              UNIT II – PELLETS
            </h4>
            <img
              src="../../../../assets/images/unit-2.jpg"
              class="card-img-top"
              alt="Metrochem-Units"
            />
            <div class="card-body">
              <div class="row">
                <span>
                  <strong>Facility Accreditation: </strong>
                  ISO 9001:2015, WHO-GMP and Local GMP certified
                </span>
                <span>
                  <strong>Site Facts:</strong>
                  1300.00 Sq Meters
                </span>
                <span>
                  <strong>Total Reactors:</strong>
                  13 FBC’s
                </span>
                <span>
                  <strong>Total Volume:</strong>
                  6020 Kgs FBCV Capacity
                </span>
                <span>
                  <strong>Class 100000 Areas:</strong>
                  634.00 Sq Meters (Manufacturing area) + 8.43 Sq Meters (Sampling & Dispensing area)
                </span>
                <a class="" rel="ugc" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  <span>
                    <i
                      class="fa fa-address-card eael-creative-button-icon-left"
                      aria-hidden="true"
                    ></i>
                    CLICK FOR ADDRESS
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h4 class="card-title text-center fw-bolder">
              UNIT IV – API & INTERMEDIATES
            </h4>
            <img
              src="../../../../assets/images/unit-4.jpg"
              class="card-img-top"
              alt="Metrochem-Units"
            />
            <div class="card-body">
              <div class="row">
                <span>
                  <strong>Facility Accreditation: </strong>
                  ISO 9001:2015 & Schedule -M GMP certified
                </span>
                <span>
                  <strong>Site Facts:</strong>
                  386.50 Mt
                </span>
                <span>
                  <strong>Total Reactors:</strong>
                  129
                </span>
                <span>
                  <strong>Total Volume:</strong>
                  715.53 KL
                </span>
                <span>
                  <strong>Class 100000 Areas:</strong>
                  11 (This includes Manufacturing area + Sampling & Dispensing area)
                </span>
                <a class="" rel="ugc" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  <span>
                    <i
                      class="fa fa-address-card eael-creative-button-icon-left"
                      aria-hidden="true"
                    ></i>
                    CLICK FOR ADDRESS
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h4 class="card-title text-center fw-bolder">
              UNIT B – INTERMEDIATES
            </h4>
            <img
              src="../../../../assets/images/placeholder.png"
              class="card-img-top"
              alt="Metrochem-Units"
            />
            <div class="card-body">
              <div class="row">
                <span>
                  <strong>Facility Accreditation: </strong>
                  ISO 9001:2015
                </span>
                <span>
                  <strong>Site Facts:</strong>
                  About 6.0 Acres
                </span>
                <span>
                  <strong>Total Reactors:</strong>
                  4 (5 GLRS + 35 SSR)
                </span>
                <span>
                  <strong>Total Volume:</strong>
                  130 KL
                </span>
                <span>
                  <strong>Class 100000 Areas:</strong>
                 1
                </span>
                <a class="" rel="ugc" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                  <span>
                    <i
                      class="fa fa-address-card eael-creative-button-icon-left"
                      aria-hidden="true"
                    ></i>
                    CLICK FOR ADDRESS
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h4 class="card-title text-center fw-bolder">
              UNIT C – INTERMEDIATES
            </h4>
            <img
              src="../../../../assets/images/placeholder.png"
              class="card-img-top"
              alt="Metrochem-Units"
            />
            <div class="card-body">
              <div class="row">
                <span>
                  <strong>Facility Accreditation: </strong>
                  ISO 9001:2015, USFDA
                </span>
                <span>
                  <strong>Site Facts:</strong>
                  26040 Sq Meters
                </span>
                <span>
                  <strong>Total Reactors:</strong>
                  58 (G-14 & SSR-44)
                </span>
                <span>
                  <strong>Total Volume:</strong>
                  237.101 KL
                </span>
                <span>
                  <strong>Class 100000 Areas:</strong>
                  2.86 sq.m (Sampling & Dispensing)
                </span>
                <a class="" rel="ugc" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                  <span>
                    <i
                      class="fa fa-address-card eael-creative-button-icon-left"
                      aria-hidden="true"
                    ></i>
                    CLICK FOR ADDRESS
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MANUFACTURING FACILITY (UNIT I – API)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>  Plot No.62/C/6. Pipe Line Road,
        Phase 1, IDA, Jeedimetla,
        Hyderabad, Rangareddy, Telangana 500055</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MANUFACTURING FACILITY (UNIT II – PELLETS)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p> Plot No D.69/A Part & D-69, Phase-1,
        Quthubullapur Mandal, IDA Jeedimetla
        Hyderabad, Rangareddy, Telangana 500055</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MANUFACTURING FACILITY (UNIT IV – API & INTERMEDIATES)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p> Plot No 34B,40B, 60B,
        J.N. Pharma City, Parawada,
        Visakhapatnam, Andhra Pradesh 531021</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MANUFACTURING FACILITY (UNIT B – INTERMEDIATES)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p> Sy No.530 and 534. Temple Road,
        Gummadidala Mandal, Bonthapally,
        Sangareddy District, Medak, Telangana 502313</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MANUFACTURING FACILITY (UNIT III – INTERMEDIATES)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>Plot No 16 SY.NO. 42/U1 and 42/U2, Alinagar,
        Jinnaram Mandal, Chetlapottiaram,
        Sangareddy District, Medak, Telangana 502319</p>
      </div>
    </div>
  </div>
</div>

