<div class="careers">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text">
                <h3>Careers@Metrochem</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div  class="my-5">

    <h3 class="text-center">Browse Job Opportunities @ Metrochem at any of the below-mentioned job portals</h3>
    <div class="d-flex justify-content-center py-5">
      <div class="careers-path">
        <a href="https://metrochem.kekahire.com/" target="_blank"><img src="../../../assets/images/logo/keka.png" alt=""></a>
      </div>
      <div class="careers-path">
        <a href="http://careers.metroapi.com/" target="_blank"><img src="../../../assets/images/logo/Naukri.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>
