<div class="development-pipeline">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-products-navbar></app-products-navbar>
    <div class=" development-pipeline-content">
      <div class="container">
        <div class="m-5">
          <h4 class="text-center">
            We deliver customized Volume and Quality products to our customers
            across the world.
          </h4>
          <div class="text-center m-4 mb-5">
            <img src="../../../../assets/images/flags-300x29.png" alt="" />
          </div>
          <div class="mb-5">
            <span class="spical-text"
              >Disclaimer : Metrochem API Pvt Ltd respects the intellectual property
              rights of others. Some of the Active Pharmaceuticals Ingredients
              (APIs) listed in the Metrochem’s product list or brochure or in the
              product list uploaded in Metrochem’s website may be protected by a
              valid patent in India or in any other countries concerned. However,
              mentioning of the name of such product(s) in the product brochure or
              the product list shall not be construed as infringement in any manner
              whatsoever. Without prejudice to the foregoing, Metrochem’s supply of
              API being protected by a valid product patent, if any, is intended
              solely for uses reasonably relating to the development and submission
              of information required under any law for the time being inforce, in
              India, or in a country other than India that regulates the
              manufacture, use, sale or import of the said product, strictly under
              the conditions as set forth in Section 107A of the Indian patents Act,
              1970, as amended in 2005, or an equivalent provision (Bolar exemption)
              thereof in a country other than India. The disclaimer is applicable
              till the expiration of the corresponding product patent(s), if any, in
              the respective. countries concerned. None of the products will be
              supplied to the countries wherein this could be in conflict with
              existing laws. However, the final responsibility lies exclusively with
              the buyer/ultimate customer.</span
            >
          </div>
        </div>


      </div>
      <div class="p-4" style="background-color: #f9fafc;">
        <div class="container" >
          <div>
            <h3>WISH LISt</h3>
          </div>

          <div class="search-container nav justify-content-evenly">
            <mat-form-field appearance="fill">
              <mat-label>PRODUCT NAME</mat-label>
              <mat-select (selectionChange)="productName($event)">
                <mat-option value="Acotiamide Hydrochloride"
                  >Acotiamide Hydrochloride</mat-option
                >
                <mat-option value="Fenticonazole Nitrate"
                  >Fenticonazole Nitrate</mat-option
                >
                <mat-option value="Lercanidipine Hydrochloride	"
                  >Lercanidipine Hydrochloride
                </mat-option>
                <mat-option value="Efinaconazole">Efinaconazole</mat-option>
                <mat-option value="Epalrestat">Epalrestat</mat-option>
                <mat-option value="Gliclazide">Gliclazide</mat-option>
                <mat-option value="Lifitegrast">Lifitegrast</mat-option>
                <mat-option value="Omecamtiv Mecarbil"
                  >Omecamtiv Mecarbil</mat-option
                >
                <mat-option value="Rimegepant">Rimegepant</mat-option>
                <mat-option value="Siponimod">Siponimod</mat-option>
                <mat-option value="Upadacitinib Tartrate"
                  >Upadacitinib Tartrate</mat-option
                >
                <mat-option value="Brexpiprazole">Brexpiprazole</mat-option>
                <mat-option value="Brivaracetam">Brivaracetam</mat-option>
                <mat-option value="Candesartan">Candesartan</mat-option>
                <mat-option value="Ezetimibe">Ezetimibe</mat-option>
                <mat-option value="Faropenem">Faropenem</mat-option>
                <mat-option value="Ferric maltol">Ferric maltol</mat-option>
                <mat-option value="Fexuprazan">Fexuprazan</mat-option>
                <mat-option value="L-Glutamine">L-Glutamine</mat-option>
                <mat-option value="Lisinopril">Lisinopril</mat-option>
                <mat-option value="Mavacamten">Mavacamten</mat-option>
                <mat-option value="Niclosamide">Niclosamide</mat-option>
                <mat-option value="Ponesimod">Ponesimod</mat-option>
                <mat-option value="Relugolix">Relugolix</mat-option>
                <mat-option value="Rivaroxaban">Rivaroxaban</mat-option>
                <mat-option value="Selexipag">Selexipag</mat-option>
                <mat-option value="Tegoprazan">Tegoprazan</mat-option>
                <mat-option value="Vericiguat">Vericiguat</mat-option>
                <mat-option value="Vibegron">Vibegron</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>THERAPEUTIC CATEGORY</mat-label>
              <mat-select (selectionChange)="therapeuticCategory($event)">
                <mat-option value="Gastroprokinetic">Gastroprokinetic</mat-option>
                <mat-option value="Antifungal">Antifungal</mat-option>
                <mat-option value="Antihypertensive’s"
                  >Antihypertensive’s</mat-option
                >
                <mat-option value="Antifungal">Antifungal</mat-option>
                <mat-option value="Diabetic neuropathy"
                  >Diabetic neuropathy</mat-option
                >
                <mat-option value="Antidiabetic">Antidiabetic</mat-option>
                <mat-option value="Dry Eye Disease">Dry Eye Disease</mat-option>
                <mat-option value="Chronic Heart Failure"
                  >Chronic Heart Failure</mat-option
                >
                <mat-option value="Antimigraine">Antimigraine</mat-option>
                <mat-option value="Multiple sclerosis"
                  >Multiple sclerosis</mat-option
                >
                <mat-option value="Antirheumatic">Antirheumatic</mat-option>
                <mat-option value="Antipsychotic">Antipsychotic</mat-option>
                <mat-option value="Antiepileptic">Antiepileptic</mat-option>
                <mat-option value="Antirheumatic">Antirheumatic</mat-option>
                <mat-option value="Antihyperlipidemic"
                  >Antihyperlipidemic</mat-option
                >
                <mat-option value="Antibiotic">Antibiotic</mat-option>
                <mat-option value="Antianemic">Antianemic</mat-option>
                <mat-option value="Antiulcerative">Antiulcerative</mat-option>
                <mat-option value="Sickle Cell Anemia"
                  >Sickle Cell Anemia</mat-option
                >
                <mat-option value="Antihypertensive">Antihypertensive</mat-option>
                <mat-option value="Hypertrophic Cardiomyopathy"
                  >Hypertrophic Cardiomyopathy</mat-option
                >
                <mat-option value="Anthelmintic">Anthelmintic</mat-option>
                <mat-option value="Multiple Sclerosis/Immunomodulator	"
                  >Multiple Sclerosis/Immunomodulator
                </mat-option>
                <mat-option value="Uterine Leiomyoma">Uterine Leiomyoma</mat-option>
                <mat-option value="Antithrombotic / Anticoagulant"
                  >Antithrombotic / Anticoagulant</mat-option
                >
                <mat-option value="Pulmonary Artery Hypertension"
                  >Pulmonary Artery Hypertension</mat-option
                >
                <mat-option value="Antiulcerative">Antiulcerative</mat-option>
                <mat-option value="Heart Failure">Heart Failure</mat-option>
                <mat-option value="Overactive Bladder"
                  >Overactive Bladder</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>CAS NUMBER</mat-label>
              <mat-select (selectionChange)="onChange($event)">
                <mat-option value="773092-05-0">773092-05-0</mat-option>
                <mat-option value="73151-29-8">73151-29-8</mat-option>
                <mat-option value="132866-11-6">132866-11-6</mat-option>
                <mat-option value="164650-44-6">164650-44-6</mat-option>
                <mat-option value="82159-09-9">82159-09-9</mat-option>
                <mat-option value="21187-98-4">21187-98-4</mat-option>
                <mat-option value="1025967-78-5">1025967-78-5</mat-option>
                <mat-option value="873697-71-3">873697-71-3</mat-option>
                <mat-option value="1289023-67-1">1289023-67-1 </mat-option>
                <mat-option value="1230487-00">1230487-00</mat-option>
                <mat-option value="1607431-21-9">1607431-21-9 </mat-option>
                <mat-option value="913611-97-9">913611-97-9</mat-option>
                <mat-option value="357336-20-0">357336-20-0</mat-option>
                <mat-option value="139481-59-7">139481-59-7</mat-option>
                <mat-option value="163222-33-1">163222-33-1</mat-option>
                <mat-option value="122547-49-3">122547-49-3</mat-option>
                <mat-option value="33725-54-1">33725-54-1 </mat-option>
                <mat-option value="1902954-60-2">1902954-60-2</mat-option>
                <mat-option value="56-85-9">56-85-9</mat-option>
                <mat-option value="76547-98-3">76547-98-3</mat-option>
                <mat-option value="1642288-47-8">1642288-47-8</mat-option>
                <mat-option value="50-65-7">50-65-7</mat-option>
                <mat-option value="854107-55-4">854107-55-4</mat-option>
                <mat-option value="737789-87-6">737789-87-6</mat-option>
                <mat-option value="366789-02-8">366789-02-8</mat-option>
                <mat-option value="475086-01-2">475086-01-2</mat-option>
                <mat-option value="942195-55-3">942195-55-3</mat-option>
                <mat-option value="1350653-20-1">1350653-20-1</mat-option>
                <mat-option value="1190389-15">1190389-15</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="search"
                autocomplete="off"
                (keyup)="filterData($event)"
              />
            </mat-form-field>
          </div>
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="mat-elevation-z8 text-center"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>S. NO</th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">DMF:</span>
                <span class="span-text">{{ element.id }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                PRODUCT NAME
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label"> PRODUCT NAME:</span>
                <span class="span-text">{{ element.productName }}</span></td>
            </ng-container>

            <ng-container matColumnDef="labValidation">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                LAB VALIDATION
              </th>
              <td mat-cell *matCellDef="let element" class="imgicon">
                <span class="mobile-label"> LAB VALIDATION:</span>
                <span class="span-text"><img src="{{ element.labValidation }}" alt="" /></span>
              </td>
            </ng-container>
            <ng-container matColumnDef="scaleUp">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>SCALE UP</th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">SCALE UP:</span>
                <span class="span-text"><img src="{{ element.scaleUp }}" alt="" /> </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="processValidation">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                PROCESS VALIDATION
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label"> PROCESS VALIDATION:</span>
                <span class="span-text">
                  <img src="{{ element.processValidation }}" alt="" />
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="therapeuticCategory">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                THERAPEUTIC CATEGORY
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">THERAPEUTIC CATEGORY:</span>
                <span class="span-text">{{ element.therapeuticCategory }}</span>

              </td>
            </ng-container>

            <ng-container matColumnDef="casNumber">
              <th mat-header-cell *matHeaderCellDef>CAS NUMBER</th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">CAS NUMBER:</span>
                <span class="span-text">{{ element.casNumber }}</span>

              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            #paginator
            [pageSize]="29"
            [pageSizeOptions]="[2, 5, 10, 25, 100]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
</div>
