
<div class="accreditions">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="main-banner item-bg-one">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                              <div class="main-banner-text">

                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="">
  <app-about-nav></app-about-nav>
  <div class="accreditions-content">
    <div class="container">
      <div class="m-5">
        <h3>Recognitions/Awards:</h3>
        <p>Metrochem API has been Awarded by <b>All India Manufacturer's Organization (AIMO)</b> in 2006 for the best performance Award 2006, received from the honorable Governor of A.P., India</p>
      <div class="div-1">
        <h3>Financial:</h3>
        <p>In a short span of 17 years, we have recorded from USD 0 to above USD 150 million.</p>
      </div>
      <div  class="div-1">
        <h3>Patents:</h3>
        <ul>
          <li>Process Patent granted for Preparing Prazole Precursors.</li>
          <li>Process Patent granted for Preparing 4-Chloro Pyridine Derivatives.</li>
          <li>Process Patent granted for Preparing Prazole Compounds.</li>
          <li>Process Patent granted for Preparing Esomeprazole Magnesium Salts.</li>
        </ul>
      </div>
      <div  class="div-1">
        <h3>Certifications:</h3>
        <img src="../../../../assets/images/logo/accred-2.jpg" alt="">
      </div>
      </div>
    </div>
  </div>


</div>
