.about {
  background-image: url(../../../assets/images/banners/career.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  h2 {
    color: black;
    font-weight: normal;
    font-size: 50px;
    margin-top: -80px;
    background-color: #fff;
    text-align: center;
    margin-top: 2rem;
  }
}
h1 {
  text-align: start;
  margin: 0rem 0 3rem;
  color: #eb7a24;
  &::after {
    content: "";
    width: 36%;
    height: 2px;
    background-color: #eb7a24;
    margin-top: 10px;
    display: block;
  }
}
img{
  width:300px;
  // height: 100%;

}
