<div class="intermediates">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-products-navbar></app-products-navbar>
  <div class="container">
    <div class="m-5">
      <h4 class="text-center">
        We deliver customized Volume and Quality products to our customers
        across the world.
      </h4>
      <div class="text-center m-4 mb-5">
        <img src="../../../../assets/images/flags-300x29.png" alt="" />
      </div>
      <div class="mb-5">
        <span class="spical-text"
          >Disclaimer : Metrochem API Pvt Ltd respects the intellectual property
          rights of others. Some of the Active Pharmaceuticals Ingredients
          (APIs) listed in the Metrochem’s product list or brochure or in the
          product list uploaded in Metrochem’s website may be protected by a
          valid patent in India or in any other countries concerned. However,
          mentioning of the name of such product(s) in the product brochure or
          the product list shall not be construed as infringement in any manner
          whatsoever. Without prejudice to the foregoing, Metrochem’s supply of
          API being protected by a valid product patent, if any, is intended
          solely for uses reasonably relating to the development and submission
          of information required under any law for the time being inforce, in
          India, or in a country other than India that regulates the
          manufacture, use, sale or import of the said product, strictly under
          the conditions as set forth in Section 107A of the Indian patents Act,
          1970, as amended in 2005, or an equivalent provision (Bolar exemption)
          thereof in a country other than India. The disclaimer is applicable
          till the expiration of the corresponding product patent(s), if any, in
          the respective. countries concerned. None of the products will be
          supplied to the countries wherein this could be in conflict with
          existing laws. However, the final responsibility lies exclusively with
          the buyer/ultimate customer.</span
        >
      </div>
    </div>


  </div>
  <div class="p-4" style="background-color: #f9fafc;">
    <div class="container" >
      <div>
        <h3>Intermediates</h3>
      </div>

      <div class="search-container nav justify-content-evenly">
        <mat-form-field appearance="fill" class="select1">
          <mat-label>PRODUCT NAME</mat-label>
          <mat-select (selectionChange)="productName($event)">

            <mat-option value="Ethyl2-[(2,4,5-trimethoxybenzoyl)amino]-1,3-thiazole-4-carboxylate">Ethyl2-[(2,4,5-trimethoxybenzoyl)amino]-1,3-thiazole-4-carboxylate</mat-option>
            <mat-option value="2-((6-Chloro-2,4-dioxo-3,4-dihydro-2H-pyrimidin-1-yl)methyl)benzonitrile">2-((6-Chloro-2,4-dioxo-3,4-dihydro-2H-pyrimidin-1-yl)methyl)benzonitrile</mat-option>
            <mat-option value="2-[(6-Chloro-3,4-dihydro-3-methyl-2,4-dioxo-1(2H)-pyrimidinyl)methyl]- benzonitrile">2-[(6-Chloro-3,4-dihydro-3-methyl-2,4-dioxo-1(2H)-pyrimidinyl)methyl]- benzonitrile</mat-option>
            <mat-option value="N-Benzylaniline">N-Benzylaniline</mat-option>
            <mat-option value="N-Benzyl-N-(4,5-dihydro-1H-imidazol-2-ylmethyl)aniline">N-Benzyl-N-(4,5-dihydro-1H-imidazol-2-ylmethyl)aniline</mat-option>
            <mat-option value="Ethyl6-​(4-​Aminophenyl)​-​1-​(4-methoxyphenyl)​-​7-​oxo-​4,​5,​6,​7-tetrahydro-​1H-pyrazolo[3,​4-​c]​pyridine-​3-​carboxylate">Ethyl6-​(4-​Aminophenyl)​-​1-​(4-methoxyphenyl)​-​7-​oxo-​4,​5,​6,​7-tetrahydro-​1H-pyrazolo[3,​4-​c]​pyridine-​3-​carboxylate</mat-option>
            <mat-option value="2-Hydroxymethyl-4-(3- methoxypropoxy)-3- methylpyridine">2-Hydroxymethyl-4-(3- methoxypropoxy)-3- methylpyridine</mat-option>
            <mat-option value="Methyl1-[(2’cynobiphenyl-4-yl)\methyl]-2-ethoxybenzimidazole-7-carboxylate">Methyl1-[(2’cynobiphenyl-4-yl)\methyl]-2-ethoxybenzimidazole-7-carboxylate</mat-option>
            <mat-option value="2-Ethoxy-[[2’-(hydroxyamidino) biphenyl-4-yl)methyl]-1-H-benzimidazole-7carboxylate">2-Ethoxy-[[2’-(hydroxyamidino) biphenyl-4-yl)methyl]-1-H-benzimidazole-7carboxylate</mat-option>
            <mat-option value="1-Methyl-[2’-(4,5-dihydro-5-oxo-4H-1,2,4-oxadiazol-3-yl)biphenyl-4-yl]-2-ethoxy-1-H-benzimidazole-7-carboxylate">1-Methyl-[2’-(4,5-dihydro-5-oxo-4H-1,2,4-oxadiazol-3-yl)biphenyl-4-yl]-2-ethoxy-1-H-benzimidazole-7-carboxylate</mat-option>
            <mat-option value="1-[2’-(4,5-dihydro-5-oxo-4H-1,2,4-oxadiazol-3-yl)biphenyl-4-yl]-2-ethoxy-1-H-benzimidazole-7- carboxylic acid">1-[2’-(4,5-dihydro-5-oxo-4H-1,2,4-oxadiazol-3-yl)biphenyl-4-yl]-2-ethoxy-1-H-benzimidazole-7- carboxylic acid</mat-option>
            <mat-option value="(12aR)-7-(benzyloxy)-3,4,12,12a-tetrahydro-1H-[1,4]oxazino[3,4-c]pyrido[2,1-f][1,2,4]triazine-6,8-dione">(12aR)-7-(benzyloxy)-3,4,12,12a-tetrahydro-1H-[1,4]oxazino[3,4-c]pyrido[2,1-f][1,2,4]triazine-6,8-dione</mat-option>
            <mat-option value="7,8-difluoro-6,11-dihydrodibenzo[b,e]thiepin-11-ol">7,8-difluoro-6,11-dihydrodibenzo[b,e]thiepin-11-ol</mat-option>
            <mat-option value="(R)-7-(benzyloxy)-12-((S)-7,8-difluoro-6,11-dihydrodibenzo[b,e]thiepin-11-yl)3,4,12,12a-tetrahydro-1H-[1,4]oxazino[3,4-c]pyrido[2,1-f][1,2’4]triazine-6,8- dione">(R)-7-(benzyloxy)-12-((S)-7,8-difluoro-6,11-dihydrodibenzo[b,e]thiepin-11-yl)3,4,12,12a-tetrahydro-1H-[1,4]oxazino[3,4-c]pyrido[2,1-f][1,2’4]triazine-6,8- dione</mat-option>
            <mat-option value="(R)-12-((S)-7,8-difluoro-6,11-dihydrodibenzo[b,e]thiepin-11-yl)3,4,12,12a-tetrahydro-1H-[1,4]oxazino[3,4-c]pyrido[2,1-f][1,2’4]triazine-6,8- dione">(R)-12-((S)-7,8-difluoro-6,11-dihydrodibenzo[b,e]thiepin-11-yl)3,4,12,12a-tetrahydro-1H-[1,4]oxazino[3,4-c]pyrido[2,1-f][1,2’4]triazine-6,8- dione</mat-option>
            <mat-option value="Ethyl7-bromo-2,2-dimethylheptanoate">Ethyl7-bromo-2,2-dimethylheptanoate</mat-option>
            <mat-option value="8-hydroxy-2,2,14,14­ tetramethyl-pentadecanedioic acid">8-hydroxy-2,2,14,14­ tetramethyl-pentadecanedioic acid</mat-option>
            <mat-option value="Pyridine-2-carbaldehyde">Pyridine-2-carbaldehyde</mat-option>
            <mat-option value="1-bromo-4-chlorobenzene">1-bromo-4-chlorobenzene</mat-option>
            <mat-option value="Ethyl 4-hydroxycyclopiperidine-1- carboxylate">Ethyl 4-hydroxycyclopiperidine-1- carboxylate</mat-option>
            <mat-option value="2-[(S)-(4-Chlorophenyl)(piperidin-4-yloxy)methyl]pyridine tartrate">2-[(S)-(4-Chlorophenyl)(piperidin-4-yloxy)methyl]pyridine tartrate</mat-option>
            <mat-option value="2-(1-(4-(2-(4,5-Dihydro-4,4-dimethyloxazol-2-yl)propan-2-yl)phenethyl)piperidin-4-yl)-1H-benzimidazole">2-(1-(4-(2-(4,5-Dihydro-4,4-dimethyloxazol-2-yl)propan-2-yl)phenethyl)piperidin-4-yl)-1H-benzimidazole</mat-option>
            <mat-option value="2-(2-(4-(2-(4-(1-(2-ethoxyethyl)-1H-benzo[d]imidazol-2-yl)piperidin-1-yl)ethyl)phenyl)propan-2-yl)-4,4-dimethyl-4,5-dihydrooxazole">2-(2-(4-(2-(4-(1-(2-ethoxyethyl)-1H-benzo[d]imidazol-2-yl)piperidin-1-yl)ethyl)phenyl)propan-2-yl)-4,4-dimethyl-4,5-dihydrooxazole</mat-option>
            <mat-option value="5-Iodo-2-methylbenzoic acid">5-Iodo-2-methylbenzoic acid</mat-option>
            <mat-option value="2-(4-fluorophenyl)-5-(5-iodo-2-methylbenzyl)thiophene">2-(4-fluorophenyl)-5-(5-iodo-2-methylbenzyl)thiophene</mat-option>
            <mat-option value="2,3,4,6-Tetrakis-O-trimethylsilyl-D-gluconolactone">2,3,4,6-Tetrakis-O-trimethylsilyl-D-gluconolactone</mat-option>
            <mat-option value="(1S)-1,5-Anhydro-1-C-[3-[[5-(4-fluorophenyl)-2-thienyl]methyl]-4-methylphenyl]-D-glucitol 2,3,4,6-Tetraacetate">(1S)-1,5-Anhydro-1-C-[3-[[5-(4-fluorophenyl)-2-thienyl]methyl]-4-methylphenyl]-D-glucitol 2,3,4,6-Tetraacetate</mat-option>
            <mat-option value="4(4-Amino-2-ethoxy-5-nitro-benzoylamino)-piperidine-1-carboxylic acid ethyl ester">4(4-Amino-2-ethoxy-5-nitro-benzoylamino)-piperidine-1-carboxylic acid ethyl ester</mat-option>
            <mat-option value="4-Amino-2-ethoxy-5-nitro-N-piperidin-4-ylbenzamidedihydrobromide">4-Amino-2-ethoxy-5-nitro-N-piperidin-4-ylbenzamidedihydrobromide</mat-option>
            <mat-option value="(S)-(+)-Ortho chloro phenyl phenyl)acetate">(S)-(+)-Ortho chloro phenyl phenyl)acetate</mat-option>
            <mat-option value="2-(2-thienyl)ethyl 4-methylbenzenesulfonate">2-(2-thienyl)ethyl 4-methylbenzenesulfonate</mat-option>
            <mat-option value="(S)-Methyl-α-(2-thienylethylamino)(2-chlorophenyl)acetate hydrochloride">(S)-Methyl-α-(2-thienylethylamino)(2-chlorophenyl)acetate hydrochloride</mat-option>
            <mat-option value="(S)-(+)Methyl -alpha-(2-thienyl ethyl amino)-(2- chlorophenyl) acetate HCl">(S)-(+)Methyl -alpha-(2-thienyl ethyl amino)-(2- chlorophenyl) acetate HCl</mat-option>
            <mat-option value="4-(4-bromo-3-formylphenoxy)benzonitrile">4-(4-bromo-3-formylphenoxy)benzonitrile</mat-option>
            <mat-option value="4-(4-bromo-3-(hydroxymethyl)phenoxy) benzonitrile">4-(4-bromo-3-(hydroxymethyl)phenoxy) benzonitrile</mat-option>
            <mat-option value="4-(3-((1-ethoxyethoxy)methyl)-4-bromophenoxy)benzonitrile">4-(3-((1-ethoxyethoxy)methyl)-4-bromophenoxy)benzonitrile</mat-option>
            <mat-option value="[(4-Cyanophenyl)amino]acetic acid">[(4-Cyanophenyl)amino]acetic acid</mat-option>
            <mat-option value="Ethyl3-(pyridin-2-ylamino)propionate">Ethyl3-(pyridin-2-ylamino)propionate</mat-option>
            <mat-option value="Ethyl3-{[3-amino-4-(methylamino)benzoyl](pyridin-2-yl)amino}propanoate">{{"  Ethyl3-{[3-amino-4-(methylamino)benzoyl](pyridin-2-yl)amino}propanoate "}}</mat-option>
            <mat-option value="Ethyl3-(2-((4-cyanophenylamino)methyl)-1-methyl-N-(pyridin-2-yl)-1H-benzo[d]imidazole-5-carboxamido)propanoate">Ethyl3-(2-((4-cyanophenylamino)methyl)-1-methyl-N-(pyridin-2-yl)-1H-benzo[d]imidazole-5-carboxamido)propanoate</mat-option>
            <mat-option value="Ethyl-3-(2-((4-amidinophenylamino)methyl)-1-methyl-N-(pyridin2-yl)-1H-benzo[d]imidazole-5-carboxamido)propanoate">Ethyl-3-(2-((4-amidinophenylamino)methyl)-1-methyl-N-(pyridin2-yl)-1H-benzo[d]imidazole-5-carboxamido)propanoate</mat-option>
            <mat-option value="Ethyl-3-[[[2-[[[4-[[[(hexyloxy)carbonyl]amino]iminomethyl]phenyl]amino]methyl]-1-methyl-1H- benzimidazol-5yl] carbonyl] (pyridin-2-yl) amino] propanoate">Ethyl-3-[[[2-[[[4-[[[(hexyloxy)carbonyl]amino]iminomethyl]phenyl]amino]methyl]-1-methyl-1H- benzimidazol-5yl] carbonyl] (pyridin-2-yl) amino] propanoate</mat-option>
            <mat-option value="4-(5-Bromo-2-chlorobenzyl) phenyl ethyl ether">4-(5-Bromo-2-chlorobenzyl) phenyl ethyl ether</mat-option>
            <mat-option value="(2R,3R,4R,5S,6S)-2-(Acetoxymethyl)-6-(4-chloro-3-(4-ethoxybenzyl)phenyl)tetra hydro-2H-pyran-3,4,5-triyl triacetate">(2R,3R,4R,5S,6S)-2-(Acetoxymethyl)-6-(4-chloro-3-(4-ethoxybenzyl)phenyl)tetra hydro-2H-pyran-3,4,5-triyl triacetate</mat-option>
            <mat-option value="(2RS)-2-(3-Benzoylphenyl)propanamide">(2RS)-2-(3-Benzoylphenyl)propanamide</mat-option>
            <mat-option value="(S)-2-(3-benzoylphenyl) propanoic acid n-octyl-d-glucamine salt">(S)-2-(3-benzoylphenyl) propanoic acid n-octyl-d-glucamine salt</mat-option>
            <mat-option value="(2S)-2-(3-benzoylphenyl) propanoic acid">(2S)-2-(3-benzoylphenyl) propanoic acid</mat-option>
            <mat-option value="2-Hydroxymethyl-3-methyl-4-(2,2,2-trifluoroethoxy)pyridine hydrochloride">2-Hydroxymethyl-3-methyl-4-(2,2,2-trifluoroethoxy)pyridine hydrochloride</mat-option>
            <mat-option value="2-Chloromethyl-3-methyl-4-(2,2,2-trifluoroethoxy)pyridine HCl">2-Chloromethyl-3-methyl-4-(2,2,2-trifluoroethoxy)pyridine HCl</mat-option>
            <mat-option value="2-[[(3-Methyl-4-(2,2,2- trifluoroethoxy)- 2-pyridinyl)methyl]thio]- 1H-benzimidazole">2-[[(3-Methyl-4-(2,2,2- trifluoroethoxy)- 2-pyridinyl)methyl]thio]- 1H-benzimidazole</mat-option>
            <mat-option value="2-Mercapto-1H-benzimidazole">2-Mercapto-1H-benzimidazole</mat-option>
            <mat-option value="L(+)Diethyl tartrate">L(+)Diethyl tartrate</mat-option>
            <mat-option value="2-[2-(Dimethylamino)ethyl]indan-1-one">2-[2-(Dimethylamino)ethyl]indan-1-one</mat-option>
            <mat-option value="Ethyl2-((5-chloropyridin-2-yl)amino)-2-oxoacetate hydrochloride">Ethyl2-((5-chloropyridin-2-yl)amino)-2-oxoacetate hydrochloride</mat-option>
            <mat-option value="5-Methyl-4,5,6,7-tetrahydrothiazolo[5,4-c]pyridine-2-carboxylic Acid Hydrochloride">5-Methyl-4,5,6,7-tetrahydrothiazolo[5,4-c]pyridine-2-carboxylic Acid Hydrochloride</mat-option>
            <mat-option value="Tert-butyl[(1R,2S,5S)-2-amino-5-(dimethylamino)carbonylcyclohexyl]carbamate">Tert-butyl[(1R,2S,5S)-2-amino-5-(dimethylamino)carbonylcyclohexyl]carbamate</mat-option>
            <mat-option value="1-(2-fluoro-6-(trifluoromethyl)benzyl)-3-((R)-2-amino-2-phenylethyl)-5-(2-fluoro-3-methoxyphenyl)-6-methyl pyrimidine-2,4(1H,3H)-dione">1-(2-fluoro-6-(trifluoromethyl)benzyl)-3-((R)-2-amino-2-phenylethyl)-5-(2-fluoro-3-methoxyphenyl)-6-methyl pyrimidine-2,4(1H,3H)-dione</mat-option>
            <mat-option value="(3S)-Tetrahydrofuran-3-ol">(3S)-Tetrahydrofuran-3-ol</mat-option>
            <mat-option value="(3S)-3-[4-(5-bromo-2-chloro benzyl) phenoxy] tertahydrofuran">(3S)-3-[4-(5-bromo-2-chloro benzyl) phenoxy] tertahydrofuran</mat-option>
            <mat-option value="(2R,3R,4R,5S,6S)-2-(Acetoxymethyl)-6-(4-chloro-3-(4-(((S)-tetrahydrofuran-3-yl)oxy)benzyl)phenyl)tetrahydro-2H-pyran-3,4,5-triylTriacetate3-(4-(((S)-tetrahydrofuran-3-yl)oxy)benzyl)phenyl)tetrahydro-2H-pyran-3,4,5-triyl Triacetate">(2R,3R,4R,5S,6S)-2-(Acetoxymethyl)-6-(4-chloro-3-(4-(((S)-tetrahydrofuran-3-yl)oxy)benzyl)phenyl)tetrahydro-2H-pyran-3,4,5-triylTriacetate3-(4-(((S)-tetrahydrofuran-3-yl)oxy)benzyl)phenyl)tetrahydro-2H-pyran-3,4,5-triyl Triacetate</mat-option>
            <mat-option value="((1R,2S,3S,4R,5S)-5-(3-(4-ethoxybenzyl)-4-chlorophenyl)-2,3,4-tris(benzyloxy)-6,8-dioxa-bicyclo(3.2.1)octan-1-yl)methanol">((1R,2S,3S,4R,5S)-5-(3-(4-ethoxybenzyl)-4-chlorophenyl)-2,3,4-tris(benzyloxy)-6,8-dioxa-bicyclo(3.2.1)octan-1-yl)methanol</mat-option>
            <mat-option value="(1R,2S,3S,4R,5S)-1-(acetoxymethyl)-5-(4-chloro-3-(4-ethoxybenzyl)phenyl)-6,8-dioxa bicyclo[3,2,1]octane-2,3,4-triyltriacetate">(1R,2S,3S,4R,5S)-1-(acetoxymethyl)-5-(4-chloro-3-(4-ethoxybenzyl)phenyl)-6,8-dioxa bicyclo[3,2,1]octane-2,3,4-triyltriacetate</mat-option>
            <mat-option value="5-Methoxy-1H-benzimidazole-2-thiol">5-Methoxy-1H-benzimidazole-2-thiol</mat-option>
            <mat-option value="2-Hydroxymethyl-3,5-dimethyl-4-methoxy pyridine hydrochloride">2-Hydroxymethyl-3,5-dimethyl-4-methoxy pyridine hydrochloride</mat-option>
            <mat-option value="2-Chloro methyl-3,5-dimethyl-4-methoxy pyridine hydrochloride">2-Chloro methyl-3,5-dimethyl-4-methoxy pyridine hydrochloride</mat-option>
            <mat-option value="5-Methoxy-2-[[(4-methoxy-3,5-dimethyl-2-pyridinyl)methyl] thio]-1H-benzimidazole">5-Methoxy-2-[[(4-methoxy-3,5-dimethyl-2-pyridinyl)methyl] thio]-1H-benzimidazole</mat-option>
            <mat-option value="Diethyl Tartrate D(-)">Diethyl Tartrate D(-)</mat-option>
            <mat-option value="1-{(6-Methyl-3-pyridyl)-2-(4-Methylsulfonyl)-phenyl}ethanone">{{"  1-{(6-Methyl-3-pyridyl)-2-(4-Methylsulfonyl)-phenyl}ethanone "}}</mat-option>
            <mat-option value="Ethyl-2-(4-hydroxyphenyl)-4-methyl-1,3-thiazole-5-carboxylate hydrochloride">Ethyl-2-(4-hydroxyphenyl)-4-methyl-1,3-thiazole-5-carboxylate hydrochloride</mat-option>
            <mat-option value="Ethyl-2-(3-formyl-4-hydroxyphenyl)-4-methylthiazole-5-carboxylate">Ethyl-2-(3-formyl-4-hydroxyphenyl)-4-methylthiazole-5-carboxylate</mat-option>
            <mat-option value="(RS)-1-(2,4-Dichlorophenyl)-2-(1H-imidazol-1-yl)ethanol">(RS)-1-(2,4-Dichlorophenyl)-2-(1H-imidazol-1-yl)ethanol</mat-option>
            <mat-option value="1-(Chloromethyl)-4-(phenylthio)benzene">1-(Chloromethyl)-4-(phenylthio)benzene</mat-option>
            <mat-option value="1-(2,4-Dichlorophenyl)-2-(1H-imidazol-1-yl)ethanone">1-(2,4-Dichlorophenyl)-2-(1H-imidazol-1-yl)ethanone</mat-option>
            <mat-option value="Octanophenone">Octanophenone</mat-option>
            <mat-option value="3-Nitro-1-(4-octylphenyl)propane-1-one">3-Nitro-1-(4-octylphenyl)propane-1-one</mat-option>
            <mat-option value="2-(4-Octylphenethyl)-2-nitropropane-1,3- diol">2-(4-Octylphenethyl)-2-nitropropane-1,3- diol</mat-option>
            <mat-option value="Fosfomycin phenyl ethylamine">Fosfomycin phenyl ethylamine</mat-option>
            <mat-option value="[1-(2-amino-2-oxoethyl)cyclohexyl]acetic acid">[1-(2-amino-2-oxoethyl)cyclohexyl]acetic acid</mat-option>
            <mat-option value="2,4-dibromo-3-(difluoromethoxy)benzoic acid">2,4-dibromo-3-(difluoromethoxy)benzoic acid</mat-option>
            <mat-option value="Ethyl-7-bromo-1-cyclopropyl-8-difluoromethoxy-1,4-dihydro-4-oxoquinoline-3-carboxylate">Ethyl-7-bromo-1-cyclopropyl-8-difluoromethoxy-1,4-dihydro-4-oxoquinoline-3-carboxylate</mat-option>
            <mat-option value="1-cyclopropyl-8-difluoromethoxy-7-(1-methyl-2-trityl-2,3-dihydro-1H-isoindol-5-yl)-4-oxo-1,4-dihydro-quinoline-3-carboxylic acid ethyl ester">1-cyclopropyl-8-difluoromethoxy-7-(1-methyl-2-trityl-2,3-dihydro-1H-isoindol-5-yl)-4-oxo-1,4-dihydro-quinoline-3-carboxylic acid ethyl ester</mat-option>
            <mat-option value="(1R)-5-Bromo-1-methyl-2-trityl-2,3-dihydro-1H-isoindole">(1R)-5-Bromo-1-methyl-2-trityl-2,3-dihydro-1H-isoindole</mat-option>
            <mat-option value="4-imino-N,N,6-trimethyl-1,4,5,6-tetrahydro-1,3,5-triazin-2- amine hydrochloride">4-imino-N,N,6-trimethyl-1,4,5,6-tetrahydro-1,3,5-triazin-2- amine hydrochloride</mat-option>
            <mat-option value="(2R,3R)-2,3-dihydroxysuccinicacid-(6R)-4-imino-N,N,6-trimethyl-1,4,5,6-tetrahydro-1,3,5- triazin-2-amine">(2R,3R)-2,3-dihydroxysuccinicacid-(6R)-4-imino-N,N,6-trimethyl-1,4,5,6-tetrahydro-1,3,5- triazin-2-amine</mat-option>
            <mat-option value="5-Amino-2-mercapto benzimidazole">5-Amino-2-mercapto benzimidazole</mat-option>
            <mat-option value="2-Mercapto5-(1- pyrrolyl)benzimidazole">2-Mercapto5-(1- pyrrolyl)benzimidazole</mat-option>
            <mat-option value="2-Chloromethyl-4- methoxy -3-methyl pyridine hydrochloride">2-Chloromethyl-4- methoxy -3-methyl pyridine hydrochloride</mat-option>
            <mat-option value="2-[[(4-Methoxy -3-methyl-2- pyridinyl)methyl]sulfanyl] 5-(1H-pyrrol-1-yl) 1Hbenzimidazole">2-[[(4-Methoxy -3-methyl-2- pyridinyl)methyl]sulfanyl] 5-(1H-pyrrol-1-yl) 1Hbenzimidazole</mat-option>
            <mat-option value="Cis-(2-Bromomethyl)-2-(2,4-dichlorophenyl)-1,3-dioxolan-4- yl methyl benzoate">Cis-(2-Bromomethyl)-2-(2,4-dichlorophenyl)-1,3-dioxolan-4- yl methyl benzoate</mat-option>
            <mat-option value="Cis-2-(2,4-Dichlorophenyl)-2-(1H-1,2,4-triazol-1-yl-methyl)-1,3-dioxolan-4-yl methanol">Cis-2-(2,4-Dichlorophenyl)-2-(1H-1,2,4-triazol-1-yl-methyl)-1,3-dioxolan-4-yl methanol</mat-option>
            <mat-option value="Cis-[2-(2,4-Dichlorophenyl)-2-(1H-1,2,4-triazol-1-yl-methyl)-1,3-dioxolan-4-yl]methyl methane sulfonate">Cis-[2-(2,4-Dichlorophenyl)-2-(1H-1,2,4-triazol-1-yl-methyl)-1,3-dioxolan-4-yl]methyl methane sulfonate</mat-option>
            <mat-option value="1-(4-Methoxyphenyl)-4-(4-nitrophenyl)piperazine">1-(4-Methoxyphenyl)-4-(4-nitrophenyl)piperazine</mat-option>
            <mat-option value="2,4-Dihydro-4-[4-[4-(4-methoxyphenyl)-1-piperazinyl]phenyl]-3H-1,2,4-triazole-3- one">2,4-Dihydro-4-[4-[4-(4-methoxyphenyl)-1-piperazinyl]phenyl]-3H-1,2,4-triazole-3- one</mat-option>
            <mat-option value="2,4-Dihydro-4-[4-[4-(4-methoxyphenyl)-1-piperazinyl]phenyl]-2-(1-methylpropyl)-3H-1,2,4- triazole-3-one">2,4-Dihydro-4-[4-[4-(4-methoxyphenyl)-1-piperazinyl]phenyl]-2-(1-methylpropyl)-3H-1,2,4- triazole-3-one</mat-option>
            <mat-option value="2,4-Dihydro-4-[4-[4-(4-hydroxyphenyl)-1-piperazinyl]phenyl]-2-(1-methylpropyl)-3H-1,2,4- triazole-3-one">2,4-Dihydro-4-[4-[4-(4-hydroxyphenyl)-1-piperazinyl]phenyl]-2-(1-methylpropyl)-3H-1,2,4- triazole-3-one</mat-option>
            <mat-option value="cis-2-(2,4-Dichlorophenyl)- 2-(1H-1,2,4-triazol-1-ylmethyl)-1,3-dioxolan-4-yl methyl methane Tosylate">cis-2-(2,4-Dichlorophenyl)- 2-(1H-1,2,4-triazol-1-ylmethyl)-1,3-dioxolan-4-yl methyl methane Tosylate</mat-option>
            <mat-option value="7,8-dimethoxy-1,3-dihydro-2H-3-benzazepin-2-o">7,8-dimethoxy-1,3-dihydro-2H-3-benzazepin-2-o</mat-option>
            <mat-option value="(7S)-3,4-Dimethoxy-N-methylbicyclo[4.2.0]octa-1,3,5-triene-7-methanamine hydrochloride">(7S)-3,4-Dimethoxy-N-methylbicyclo[4.2.0]octa-1,3,5-triene-7-methanamine hydrochloride</mat-option>
            <mat-option value="(Z)-3-(3-(N-(((S)-1,2-dihydro-4,5-dimethoxycyclobutabenzen-2-yl)methyl)-N-methylamino)propyl)-7,8-dimethoxy-1H- benzo[d]azepin-2(3H)-one">(Z)-3-(3-(N-(((S)-1,2-dihydro-4,5-dimethoxycyclobutabenzen-2-yl)methyl)-N-methylamino)propyl)-7,8-dimethoxy-1H- benzo[d]azepin-2(3H)-one</mat-option>
            <mat-option value="(R)-4-Chlorobenzhydryl amine">(R)-4-Chlorobenzhydryl amine</mat-option>
            <mat-option value="N,N-bis(2-chloroethyl)-4-methylbenzenesulfonamide">N,N-bis(2-chloroethyl)-4-methylbenzenesulfonamide</mat-option>
            <mat-option value="(-)-Chlorobenzohydrol(4-p- toluene sulfonyl)piperazine">(-)-Chlorobenzohydrol(4-p- toluene sulfonyl)piperazine</mat-option>
            <mat-option value="(R)-1-[(4-Chlorophenyl)phenylmethyl]piperazine">(R)-1-[(4-Chlorophenyl)phenylmethyl]piperazine</mat-option>
            <mat-option value="(-)[2-(4(4-Chlorophenyl)phenyl methyl]-1-piperazinyl]ethanol">(-)[2-(4(4-Chlorophenyl)phenyl methyl]-1-piperazinyl]ethanol</mat-option>
            <mat-option value="(-)-1-[(4-Chlorophenyl (phenyl)methyl]piperazine">(-)-1-[(4-Chlorophenyl (phenyl)methyl]piperazine</mat-option>
            <mat-option value="(1S,5R)-1-phenyl-3-oxabicyclo [3.1.0]hexan-2-one">(1S,5R)-1-phenyl-3-oxabicyclo [3.1.0]hexan-2-one</mat-option>
            <mat-option value="Ethyl2-oxocyclopentanecarboxylate">Ethyl2-oxocyclopentanecarboxylate</mat-option>
            <mat-option value="2-(1-Chloroethyl)-5,5-dimethyl-2-(4-methylphenyl)-1,3-dioxane">2-(1-Chloroethyl)-5,5-dimethyl-2-(4-methylphenyl)-1,3-dioxane</mat-option>
            <mat-option value="2-(4-Methylphenyl)propanoic acid">2-(4-Methylphenyl)propanoic acid</mat-option>
            <mat-option value="2-(4-Bromomethyl)phenylpropionic acid">2-(4-Bromomethyl)phenylpropionic acid</mat-option>
            <mat-option value="Cis-5-Norbornene-exo-2,3-dicarboxylic anhydride">Cis-5-Norbornene-exo-2,3-dicarboxylic anhydride</mat-option>
            <mat-option value="Bicyclo[2,2,1]heptane-2,3-di-exo-carboximide">Bicyclo[2,2,1]heptane-2,3-di-exo-carboximide</mat-option>
            <mat-option value="Trans-Cyclohexane-1,2-dicarboxylic acid">Trans-Cyclohexane-1,2-dicarboxylic acid</mat-option>
            <mat-option value="Intermediates - Metrochem API Pvt Ltd">Intermediates - Metrochem API Pvt Ltd</mat-option>
            <mat-option value="Trans-(1R,2R)-Cyclohexane dimethanol">Trans-(1R,2R)-Cyclohexane dimethanol</mat-option>
            <mat-option value="Trans-(1R,2R)-Cyclohexane-1,2-diylbis(methylene)dimethanesulfonate">Trans-(1R,2R)-Cyclohexane-1,2-diylbis(methylene)dimethanesulfonate</mat-option>
            <mat-option value="4'-(1,2-Benzisothiazol-3-yl)-(3aR,7aR)-octahydro-spiro[2H-isoindole-2,1'-piperizinium] methanesulfonate">4'-(1,2-Benzisothiazol-3-yl)-(3aR,7aR)-octahydro-spiro[2H-isoindole-2,1'-piperizinium] methanesulfonate</mat-option>
            <mat-option value="1,2,3,6-tetra-O-pivaloyl-alpha-D-galactofuranoside">1,2,3,6-tetra-O-pivaloyl-alpha-D-galactofuranoside</mat-option>
            <mat-option value="Beta-D-Galactofuranose,5-Azido-5-deoxy-1,2,3,6-tetrakis(2,2-dimethylpropanoate">Beta-D-Galactofuranose,5-Azido-5-deoxy-1,2,3,6-tetrakis(2,2-dimethylpropanoate</mat-option>
            <mat-option value="(2R)-Hydroxyphenylacetic acid">(2R)-Hydroxyphenylacetic acid</mat-option>
            <mat-option value="2-(4-Nitrophenyl)ethanamine hydrochloride">2-(4-Nitrophenyl)ethanamine hydrochloride</mat-option>
            <mat-option value="(R)-2-Hydroxy-N-[2-(4-nitrophenyl)ethyl]-2-phenylacetamide">(R)-2-Hydroxy-N-[2-(4-nitrophenyl)ethyl]-2-phenylacetamide</mat-option>
            <mat-option value="(R)-2-[[2-(4-Nitrophenyl)ethyl]amino]-1-phenylethanol mono hydrochloride">(R)-2-[[2-(4-Nitrophenyl)ethyl]amino]-1-phenylethanol mono hydrochloride</mat-option>
            <mat-option value="(R)-2-[[2-(4-Aminophenyl) ethyl)amino]-1-phenylethanol hydrochloride">(R)-2-[[2-(4-Aminophenyl) ethyl)amino]-1-phenylethanol hydrochloride</mat-option>
            <mat-option value="(2-Amino-1,3-thiazol-4-yl) acetic acid">(2-Amino-1,3-thiazol-4-yl) acetic acid</mat-option>
            <mat-option value="1-(2,4-dichlorophenyl) ethanone">1-(2,4-dichlorophenyl) ethanone</mat-option>
            <mat-option value="2-bromo-1-(2,4-dichlorophenyl)ethanone">2-bromo-1-(2,4-dichlorophenyl)ethanone</mat-option>
            <mat-option value="1-(2,4-dichlorophenyl)-2-(1H-imidazol-1-yl)ethanone">1-(2,4-dichlorophenyl)-2-(1H-imidazol-1-yl)ethanone</mat-option>
            <mat-option value="(1Z)-1-(2,4-dichlorophenyl)-2-(1H-imidazol-1-yl)ethanone oxime">(1Z)-1-(2,4-dichlorophenyl)-2-(1H-imidazol-1-yl)ethanone oxime</mat-option>
            <mat-option value="2,4-Dichlorobenzyl chloride">2,4-Dichlorobenzyl chloride</mat-option>
            <mat-option value="Methyl7-chloro-1-cyclopropyl-8-methyl-4-oxo-1,4-dihydroquinoline-3-carboxylate">Methyl7-chloro-1-cyclopropyl-8-methyl-4-oxo-1,4-dihydroquinoline-3-carboxylate</mat-option>
            <mat-option value="[6[2,2-dimethyl-1-oxopropyl)methylamino]-5-methyl-3-pyridinyl]boronic acid">[6[2,2-dimethyl-1-oxopropyl)methylamino]-5-methyl-3-pyridinyl]boronic acid</mat-option>
            <mat-option value="2-Hydroxymethyl-3,4-dimethoxy pyridine">2-Hydroxymethyl-3,4-dimethoxy pyridine</mat-option>
            <mat-option value="2-Chloromethyl-3,4-dimethoxy pyridine hydrochloride">2-Chloromethyl-3,4-dimethoxy pyridine hydrochloride</mat-option>
            <mat-option value="5-(Difluoromethoxy)-2-[[(3,4-dimethoxy-2-pyridinyl)methyl] thio]-1H-benzimidazole">5-(Difluoromethoxy)-2-[[(3,4-dimethoxy-2-pyridinyl)methyl] thio]-1H-benzimidazole</mat-option>
            <mat-option value="2-[(1S,2S)-1-Ethyl-2-benzyloxypropyl]-2,4-dihydro-4-[4-[4-(4-hydroxyphenyl)-1-piperozinyl]phenyl]-3H-1,2,4-triazol-3-one">2-[(1S,2S)-1-Ethyl-2-benzyloxypropyl]-2,4-dihydro-4-[4-[4-(4-hydroxyphenyl)-1-piperozinyl]phenyl]-3H-1,2,4-triazol-3-one</mat-option>
            <mat-option value="((3S,5R)-5-((1H-1,2,4-triazol-1-yl)methyl)-5-(2,4-difluorophenyl)-tetrahydrofuran-3-yl)methyl 4-chlorobenzenesulfonate">((3S,5R)-5-((1H-1,2,4-triazol-1-yl)methyl)-5-(2,4-difluorophenyl)-tetrahydrofuran-3-yl)methyl 4-chlorobenzenesulfonate</mat-option>
            <mat-option value="4-(4-(4-(4-(((3R)-5-((1H-1,2,4-triazol-1-yl)methyl)-5-(2,4-difluorophenyl)-tetrahydrofuran-3-yl)methoxy)phenyl)piperazin-1-yl)phenyl)-2-((2S,3S)-2-(benzyloxy)pentan-3-yl)-2H-1,2,4-triazol-3(4H)-one">4-(4-(4-(4-(((3R)-5-((1H-1,2,4-triazol-1-yl)methyl)-5-(2,4-difluorophenyl)-tetrahydrofuran-3-yl)methoxy)phenyl)piperazin-1-yl)phenyl)-2-((2S,3S)-2-(benzyloxy)pentan-3-yl)-2H-1,2,4-triazol-3(4H)-one</mat-option>
            <mat-option value="3-Methoxypropylamine">3-Methoxypropylamine</mat-option>
            <mat-option value="1-(3-Methoxypropyl)piperidin-4-one">1-(3-Methoxypropyl)piperidin-4-one</mat-option>
            <mat-option value="1-(3-Methoxypropyl)piperidin-4-amine">1-(3-Methoxypropyl)piperidin-4-amine</mat-option>
            <mat-option value="Methyl4-acetamido-3-bromo-2-(2-bromo ethoxy)-5-chloro benzoate">Methyl4-acetamido-3-bromo-2-(2-bromo ethoxy)-5-chloro benzoate</mat-option>
            <mat-option value="Methyl4-acetamido-5-chloro-2,3-dihydro-1-benzofuran-7-carboxylate">Methyl4-acetamido-5-chloro-2,3-dihydro-1-benzofuran-7-carboxylate</mat-option>
            <mat-option value="4-Amino-5-chloro-2,3-dihydro-1-benzofuran-7-carboxylic acid">4-Amino-5-chloro-2,3-dihydro-1-benzofuran-7-carboxylic acid</mat-option>
            <mat-option value="2-Hydroxymethyl-4-(3-methoxypropoxy)-3-methyl pyridine hydrochloric acid">2-Hydroxymethyl-4-(3-methoxypropoxy)-3-methyl pyridine hydrochloric acid</mat-option>
            <mat-option  value="2-({[4-(3-Methoxypropoxy)-3-methylpyridin-2-yl]methyl} thio)-1H-benzimidazole">   {{ " 2-({[4-(3-Methoxypropoxy)-3-methylpyridin-2-yl]methyl} thio)-1H-benzimidazole " }}  </mat-option>
            <mat-option value="2-Chloromethyl-4-(3- methoxypropoxy)- 3-methylpyridine hydrochloride">2-Chloromethyl-4-(3- methoxypropoxy)- 3-methylpyridine hydrochloride</mat-option>
            <mat-option value="2-[[(4-(3- Methoxypropoxy)- 3-methyl-2-pyridinyl)-2- methyl]sulfinyl] -1H-benzimidazole">2-[[(4-(3- Methoxypropoxy)- 3-methyl-2-pyridinyl)-2- methyl]sulfinyl] -1H-benzimidazole</mat-option>
            <mat-option value="2-[(2-Methoxyphenoxy)methyl]oxirane">2-[(2-Methoxyphenoxy)methyl]oxirane</mat-option>
            <mat-option value="N-(2,6-Dimethylphenyl)-2-piperazin-1-ylacetamide">N-(2,6-Dimethylphenyl)-2-piperazin-1-ylacetamide</mat-option>
            <mat-option value="5-[(2R)-2-aminopropyl]-1-[3-(benzyloxy)propyl]-2,3-dihydro-7-carbonitrile-1H-indole(2R,3R)-2,3-dihydroxy butanedioate">5-[(2R)-2-aminopropyl]-1-[3-(benzyloxy)propyl]-2,3-dihydro-7-carbonitrile-1H-indole(2R,3R)-2,3-dihydroxy butanedioate</mat-option>
            <mat-option value="2-[2-(2,2,2-Trifluoroethoxy)phenoxy]ethyl methanesulfonate">2-[2-(2,2,2-Trifluoroethoxy)phenoxy]ethyl methanesulfonate</mat-option>
            <mat-option value="3-[7-Cyano-5[(2R)-2-({2-[2-(2,2,2-trifluoroethoxy)phenoxy]ethyl}amino)propyl]-2,3-dihydro-1H-indol-1-yl}propyl benzoate tartrate"> {{ "{}  3-[7-Cyano-5[(2R)-2-({2-[2-(2,2,2-trifluoroethoxy)phenoxy]ethyl}amino)propyl]-2,3-dihydro-1H-indol-1-yl}propyl benzoate tartrate  "}}</mat-option>
            <mat-option value="1-(3-Hydroxypropyl)-5-(2-{2-[2-(2,2,2-trifluoroethoxy)phenoxy]ethylamino}propyl)-2,3-dihydro-1H-indole-7-carbonitrile"> {{ "{} ' {}1-(3-Hydroxypropyl)-5-(2-{2-[2-(2,2,2-trifluoroethoxy)phenoxy]ethylamino}propyl)-2,3-dihydro-1H-indole-7-carbonitrile  "}}</mat-option>
            <mat-option value="1-[3-(Benzoyloxy)propyl]-2,3-dihydro-5-(2-oxopropyl)-1H-Indole-7-carbonitrile">1-[3-(Benzoyloxy)propyl]-2,3-dihydro-5-(2-oxopropyl)-1H-Indole-7-carbonitrile</mat-option>
            <mat-option value="1-[3-(Benzoyloxy)propyl]-2,3-dihydro-5-(2-nitropropyl)-1h-indole-7-carbonitrile">1-[3-(Benzoyloxy)propyl]-2,3-dihydro-5-(2-nitropropyl)-1h-indole-7-carbonitrile</mat-option>
            <mat-option value="Benzyl{3-fluoro-4-[6-(2-methyl-2H-tetrazol-5-yl)pyridin-3-yl]phenyl}carbamate"> {{" Benzyl{3-fluoro-4-[6-(2-methyl-2H-tetrazol-5-yl)pyridin-3-yl]phenyl}carbamate  "}}</mat-option>
            <mat-option value="(R)-Glycidyl butyrate">(R)-Glycidyl butyrate</mat-option>
            <mat-option value="1-(3-Methyl-1-phenyl-1H-pyrazol-5-yl)piperazine">1-(3-Methyl-1-phenyl-1H-pyrazol-5-yl)piperazine</mat-option>
            <mat-option value="Tert-Butyl(2S)-4-oxo-2-(1,3-thiazolidin-3-ylcarbonyl)pyrrolidine-1-carboxylate">Tert-Butyl(2S)-4-oxo-2-(1,3-thiazolidin-3-ylcarbonyl)pyrrolidine-1-carboxylate</mat-option>
            <mat-option value="(2S,4S)-4-[4-(3-Methyl-1-phenyl-1H-pyrazol-5-yl)-1-piperazinyl]-2-(3-thiazolidinylcarbonyl)-1-pyrrolidinecarboxylic acid tert-butyl ester">(2S,4S)-4-[4-(3-Methyl-1-phenyl-1H-pyrazol-5-yl)-1-piperazinyl]-2-(3-thiazolidinylcarbonyl)-1-pyrrolidinecarboxylic acid tert-butyl ester</mat-option>
            <mat-option value="(3R,4R)-1-Benzyl-n,4-dimethylpiperidin-3-amine ((2r,3r)-2,3-bis((4-methylbenzoyl)oxy)succinate)">(3R,4R)-1-Benzyl-n,4-dimethylpiperidin-3-amine ((2r,3r)-2,3-bis((4-methylbenzoyl)oxy)succinate)</mat-option>
            <mat-option value="Isonicotinic acid N -Oxide">Isonicotinic acid N -Oxide</mat-option>
            <mat-option value="Tert-butyl2-(1-oxidoisonicotinoyl)hydrazinecarboxylate">Tert-butyl2-(1-oxidoisonicotinoyl)hydrazinecarboxylate</mat-option>
            <mat-option value="Tert-butyl2-(2-cyanoisonicotinoyl)hydrazinecarboxylate">Tert-butyl2-(2-cyanoisonicotinoyl)hydrazinecarboxylate</mat-option>
            <mat-option value="2-cyanoisonicotinohydrazide paratoluene sulfonate">2-cyanoisonicotinohydrazide paratoluene sulfonate</mat-option>
            <mat-option value="4-(acetamidomethyl)benzoic acid">4-(acetamidomethyl)benzoic acid</mat-option>
            <mat-option value="5-vinylpyrrolidin-2-one">5-vinylpyrrolidin-2-one</mat-option>
            <mat-option value="3-Amino-1-Adamantanol">3-Amino-1-Adamantanol</mat-option>
            <mat-option value="(2S)-1-(Chloroacetyl)-2-pyrrolidine carbonitrile">(2S)-1-(Chloroacetyl)-2-pyrrolidine carbonitrile</mat-option>
            <mat-option value="5-(2-Fluorophenyl)-1H-pyrrole-3-carbaldehyde">5-(2-Fluorophenyl)-1H-pyrrole-3-carbaldehyde</mat-option>
            <mat-option value="Pyridine-3-sulfonyl chloride">Pyridine-3-sulfonyl chloride</mat-option>
            <mat-option value="5-(2-Fluorophenyl)-1-(pyridin-3-ylsulfonyl)-1H-pyrrole-3- carbaldehyde">5-(2-Fluorophenyl)-1-(pyridin-3-ylsulfonyl)-1H-pyrrole-3- carbaldehyde</mat-option>

          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>CAS NUMBER</mat-label>
          <mat-select (selectionChange)="onChange($event)">
            <mat-option value="N/A">N/A</mat-option>
            <mat-option value="397277-84-8">397277-84-8</mat-option>
            <mat-option value="895758-95-8">895758-95-8</mat-option>
            <mat-option value="865758-96-9">865758-96-9</mat-option>
            <mat-option value="103-32-2">103-32-2</mat-option>
            <mat-option value="91-75-8">91-75-8</mat-option>
            <mat-option value="503615-07-4">503615-07-4</mat-option>
            <mat-option value="118175-10-3">118175-10-3</mat-option>
            <mat-option value="139481-44-0">139481-44-0</mat-option>
            <mat-option value="147403-65-4">147403-65-4</mat-option>
            <mat-option value="147403-52-9">147403-52-9</mat-option>
            <mat-option value="147403-03-0">147403-03-0</mat-option>
            <mat-option value="1985607-70-2">1985607-70-2</mat-option>
            <mat-option value="1985607-83-7">1985607-83-7</mat-option>
            <mat-option value="1985606-53-8">1985606-53-8</mat-option>
            <mat-option value="1985605-59-1">1985605-59-1</mat-option>
            <mat-option value="123469-92-1">123469-92-1</mat-option>
            <mat-option value="738606-46-7">738606-46-7</mat-option>
            <mat-option value="1121-60-4">1121-60-4</mat-option>
            <mat-option value="1985605-59-1">1985605-59-1</mat-option>
            <mat-option value="65214-82-6">65214-82-6</mat-option>
            <mat-option value="210095-58-2">210095-58-2</mat-option>
            <mat-option value="202189-81-9">202189-81-9</mat-option>
            <mat-option value="202189-77-3">202189-77-3</mat-option>
            <mat-option value="54811-38-0">54811-38-0</mat-option>
            <mat-option value="898566-17-1">898566-17-1</mat-option>
            <mat-option value="32384-65-9">32384-65-9</mat-option>
            <mat-option value="866607-35-4">866607-35-4</mat-option>
            <mat-option value="952309-99-8">952309-99-8</mat-option>
            <mat-option value="1207859-14-0">1207859-14-0</mat-option>
            <mat-option value="39720-27-9">39720-27-9</mat-option>
            <mat-option value="40412-06-4">40412-06-4</mat-option>
            <mat-option value="141109-18-4">141109-18-4</mat-option>
            <mat-option value="141109-19-5">141109-19-5</mat-option>
            <mat-option value="906673-54-9">906673-54-9</mat-option>
            <mat-option value="906673-45-8">906673-45-8</mat-option>
            <mat-option value="42288-26-6">42288-26-6</mat-option>
            <mat-option value="103041-38-9">103041-38-9</mat-option>
            <mat-option value="212322-56-0">212322-56-0</mat-option>
            <mat-option value="211915-84-3">211915-84-3</mat-option>
            <mat-option value="429658-95-7">429658-95-7</mat-option>
            <mat-option value="211915-06-9">211915-06-9</mat-option>
            <mat-option value="461432-23-5">461432-23-5</mat-option>
            <mat-option value="461432-25-7">461432-25-7</mat-option>
            <mat-option value="59512-16-2">59512-16-2</mat-option>
            <mat-option value="22161-81-5 & 23323-37-7">22161-81-5 & 23323-37-7</mat-option>
            <mat-option value="22161-81-5">22161-81-5</mat-option>
            <mat-option value="103577-66-8">103577-66-8</mat-option>
            <mat-option value="127337-60-4">127337-60-4</mat-option>
            <mat-option value="103577-40-8">103577-40-8</mat-option>
            <mat-option value="583-39-1">583-39-1</mat-option>
            <mat-option value="87-91-2">87-91-2</mat-option>
            <mat-option value="3409-21-0">3409-21-0</mat-option>
            <mat-option value="1243308-37-3">1243308-37-3</mat-option>
            <mat-option value="720720-96-7">720720-96-7</mat-option>
            <mat-option value="365998-36-3">365998-36-3</mat-option>
            <mat-option value="830346-50-4">830346-50-4</mat-option>
            <mat-option value="453-20-3">453-20-3</mat-option>
            <mat-option value="915095-89-5">915095-89-5</mat-option>
            <mat-option value="915095-99-7">915095-99-7</mat-option>
            <!-- <mat-option value="N/A">N/A</mat-option> -->
            <mat-option value="1298086-18-6">1298086-18-6</mat-option>
            <mat-option value="37052-78-1">37052-78-1</mat-option>
            <mat-option value="96300-88-8">96300-88-8</mat-option>
            <mat-option value="86604-75-3">86604-75-3</mat-option>
            <mat-option value="73590-85-9">73590-85-9</mat-option>
            <mat-option value="13811-71-7">13811-71-7</mat-option>
            <mat-option value="221615-75-4">221615-75-4</mat-option>
            <mat-option value="399017-10-8">399017-10-8</mat-option>
            <mat-option value="161798-01-2">161798-01-2</mat-option>
            <mat-option value="1271738-74-9">1271738-74-9</mat-option>
            <mat-option value="160844-75-7">160844-75-7</mat-option>
            <mat-option value="24155-42-8">24155-42-8</mat-option>
            <mat-option value="1208-87-3">1208-87-3</mat-option>
            <mat-option value="46503-52-0">46503-52-0</mat-option>
            <mat-option value="1674-37-9">1674-37-9</mat-option>
            <mat-option value="899822-97-0">899822-97-0</mat-option>
            <mat-option value="374077-88-0">374077-88-0</mat-option>
            <mat-option value="25383-07-7">25383-07-7</mat-option>
            <mat-option value="99189-60-3">99189-60-3</mat-option>
            <mat-option value="223595-28-6">223595-28-6</mat-option>
            <mat-option value="194805-07-7">194805-07-7</mat-option>
            <!-- <mat-option value="N/A">N/A</mat-option> -->
            <mat-option value="194805-14-6">194805-14-6</mat-option>
            <mat-option value="352211-11-1">352211-11-1</mat-option>
            <mat-option value="1016979-78-4">1016979-78-4</mat-option>
            <mat-option value="2818-66-8">2818-66-8</mat-option>
            <mat-option value="172152-53-3">172152-53-3</mat-option>
            <mat-option value="86604-74-2">86604-74-2</mat-option>
            <mat-option value="172152-35-1 / 172152-36-2">172152-35-1 / 172152-36-2</mat-option>
            <mat-option value="74852-61-2">74852-61-2</mat-option>
            <mat-option value="67914-85-6">67914-85-6</mat-option>
            <mat-option value="67914-86-7">67914-86-7</mat-option>
            <mat-option value="74852-61-2">74852-61-2</mat-option>
            <mat-option value="74853-07-9">74853-07-9</mat-option>
            <mat-option value="252964-68-4">252964-68-4</mat-option>
            <mat-option value="106461-41-0">106461-41-0</mat-option>
            <mat-option value="113770-65-3">113770-65-3</mat-option>
            <mat-option value="73942-87-7">73942-87-7</mat-option>
            <mat-option value="866783-13-3">866783-13-3</mat-option>
            <mat-option value="163837-57-8">163837-57-8</mat-option>
            <mat-option value="42137-88-2">42137-88-2</mat-option>
            <mat-option value="163837-56-7">163837-56-7</mat-option>
            <mat-option value="300543-56-0">300543-56-0</mat-option>
            <mat-option value="705289-61-8">705289-61-8</mat-option>
            <mat-option value="130018-88-1">130018-88-1</mat-option>
            <mat-option value="96847-53-9">96847-53-9</mat-option>
            <mat-option value="611-10-9">611-10-9</mat-option>
            <mat-option value="1403382-44-4">1403382-44-4</mat-option>
            <mat-option value="938-94-3">938-94-3</mat-option>
            <mat-option value="111128-12-2">111128-12-2</mat-option>
            <mat-option value="2746-19-2">2746-19-2</mat-option>
            <mat-option value="14805-29-9">14805-29-9</mat-option>
            <mat-option value="2305-32-0">2305-32-0</mat-option>
            <mat-option value="46022-05-3">46022-05-3</mat-option>
            <mat-option value="65376-05-8">65376-05-8</mat-option>
            <mat-option value="186204-35-3">186204-35-3</mat-option>
            <mat-option value="186204-37-5">186204-37-5</mat-option>
            <mat-option value="220017-49-2">220017-49-2</mat-option>
            <mat-option value="226877-06-1">226877-06-1</mat-option>
            <mat-option value="614-75-5">614-75-5</mat-option>
            <mat-option value="29968-78-3">29968-78-3</mat-option>
            <mat-option value="521284-19-5">521284-19-5</mat-option>
            <mat-option value="521284-21-9">521284-21-9</mat-option>
            <mat-option value="521284-22-0">521284-22-0</mat-option>
            <mat-option value="29676-71-9">29676-71-9</mat-option>
            <mat-option value="2234-16-4">2234-16-4</mat-option>
            <mat-option value="2631-72-3">2631-72-3</mat-option>
            <mat-option value="46503-52-0">46503-52-0</mat-option>
            <mat-option value="64211-06-9">64211-06-9</mat-option>
            <mat-option value="94-99-5">94-99-5</mat-option>
            <mat-option value="446299-78-1">446299-78-1</mat-option>
            <mat-option value="72830-08-1">72830-08-1</mat-option>
            <mat-option value="72830-09-2">72830-09-2</mat-option>
            <mat-option value="162625-64-9">162625-64-9</mat-option>
            <mat-option value="184177-83-1">184177-83-1</mat-option>
            <mat-option value="175712-02-4">175712-02-4</mat-option>
            <mat-option value="170985-86-1">170985-86-1</mat-option>
            <mat-option value="7332-73-0">7332-73-0</mat-option>
            <mat-option value="16771-85-0">16771-85-0</mat-option>
            <mat-option value="232941-14-9">232941-14-9</mat-option>
            <mat-option value="748788-39-8">748788-39-8</mat-option>
            <mat-option value="143878-29-9">143878-29-9</mat-option>
            <mat-option value="123654-26-2">123654-26-2</mat-option>
            <mat-option value="675198-19-3">675198-19-3</mat-option>
            <mat-option value="117977-21-6">117977-21-6</mat-option>
            <mat-option value="153259-31-5">153259-31-5</mat-option>
            <mat-option value="117976-89-3">117976-89-3</mat-option>
            <mat-option value="2210-74-4">2210-74-4</mat-option>
            <mat-option value="5294-61-1">5294-61-1</mat-option>
            <mat-option value="239463-85-5">239463-85-5</mat-option>
            <mat-option value="160969-03-9">160969-03-9</mat-option>
            <mat-option value="885340-11-4">885340-11-4</mat-option>
            <mat-option value="885340-13-6">885340-13-6</mat-option>
            <mat-option value="350797-57-8">350797-57-8</mat-option>
            <mat-option value="350797-56-7">350797-56-7</mat-option>
            <mat-option value="1220910-89-3">1220910-89-3</mat-option>
            <mat-option value="60456-26-0">60456-26-0</mat-option>
            <mat-option value="401566-79-8">401566-79-8</mat-option>
            <mat-option value="401564-36-1">401564-36-1</mat-option>
            <mat-option value="401566-80-1">401566-80-1</mat-option>
            <mat-option value="477600-71-8">477600-71-8</mat-option>
            <mat-option value="13602-12-5">13602-12-5</mat-option>
            <mat-option value="577778-86-0">577778-86-0</mat-option>
            <mat-option value="1205-58-9">1205-58-9</mat-option>
            <mat-option value="7529-16-0">7529-16-0</mat-option>
            <mat-option value="702-82-9">702-82-9</mat-option>
            <mat-option value="207557-35-5">207557-35-5</mat-option>
            <mat-option value="881674-56-2">881674-56-2</mat-option>
            <mat-option value="16133-25-8">16133-25-8</mat-option>
            <mat-option value="881677-11-8">881677-11-8</mat-option>
            <!-- <mat-option value="397277-84-8">397277-84-8</mat-option> -->

          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input
            matInput
            placeholder="search"
            autocomplete="off"
            (keyup)="filterData($event)"
          />
        </mat-form-field>
      </div>
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8 text-center pellet"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>S. NO</th>
          <td mat-cell *matCellDef="let element"><span class="mobile-label">S. NO</span><span class="span-text">{{ element.id }}</span></td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            PRODUCT NAME
          </th>
          <td mat-cell *matCellDef="let element"><span class="mobile-label">PRODUCT NAME</span><span class="span-text">{{ element.productName }}</span></td>
        </ng-container>
        <ng-container matColumnDef="casNumber">
          <th mat-header-cell *matHeaderCellDef>CAS NUMBER</th>
          <td mat-cell *matCellDef="let element"><span class="mobile-label">CAS NUMBER</span><span class="span-text">{{ element.casNumber }}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 25,50, 100,175]"
      >
      </mat-paginator>
    </div>
  </div>
</div>

