<div class="about">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text">
                <h3>ESG
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="why-we-different ptb-100 bg-F7F5F4">
  <div class="container-fluid">
      <div class="tabset why-we-different-tabset">
          <input type="radio" name="tabset" id="tab1" aria-controls="Policy Of Sustainability" checked>
          <label for="tab1">Policy On Sustainable Procurement</label>
          <input type="radio" name="tabset" id="tab2" aria-controls="Code of Conduct">
          <label for="tab2">Supplier Code of Conduct</label>
          <div class="tab-panels">
              <div id="Policy Of Sustainability" class="tab-panel">
                  <div class="row align-items-center">
                      <iframe src="../../../assets/documents/POLICY-ON-SUSTAINABLE-PROCUREMENT.pdf" style="width:100%;   height: 128vh;" frameborder="0"></iframe>
                  </div>
              </div>
              <div id="Code of Conduct" class="tab-panel">
                  <div class="row align-items-center">
                    <iframe src="../../../assets/documents/Supplier-Code-of-Conduct.pdf" style="width:100%;   height: 128vh;" frameborder="0"></iframe>
              </div>
          </div>
      </div>
  </div>
</div> -->
<div class="container">
    <div class="my-5">
      <div class="list-group border-0">
        <a  class="list-group-item list-group-item-action ">Policy On Sustainable Procurement</a>
        <a  class="list-group-item list-group-item-action">Supplier Code of Conduct</a>
        <a  class="list-group-item list-group-item-action">BIO-DIVERSITY-POLICY</a>
        <a  class="list-group-item list-group-item-action">ENERGY-&-GHG-Policy</a>
        <a class="list-group-item list-group-item-action ">Water-Management-Policy</a>
        <a class="list-group-item list-group-item-action ">PiE</a>
      </div>

      <ul>
        <li></li>
      </ul>

    </div>
    <div *ngFor="let x of esglist">
      <p>{{x.p1}}</p>
    </div>
</div>
<div>

</div>

