<div class="pellets">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-products-navbar></app-products-navbar>
  <div class="container">
    <div class="m-5">
      <h4 class="text-center">
        We deliver customized Volume and Quality products to our customers
        across the world.
      </h4>
      <div class="text-center m-4 mb-5">
        <img src="../../../../assets/images/flags-300x29.png" alt="" />
      </div>
      <div class="mb-5">
        <span class="spical-text"
          >Disclaimer : Metrochem API Pvt Ltd respects the intellectual property
          rights of others. Some of the Active Pharmaceuticals Ingredients
          (APIs) listed in the Metrochem’s product list or brochure or in the
          product list uploaded in Metrochem’s website may be protected by a
          valid patent in India or in any other countries concerned. However,
          mentioning of the name of such product(s) in the product brochure or
          the product list shall not be construed as infringement in any manner
          whatsoever. Without prejudice to the foregoing, Metrochem’s supply of
          API being protected by a valid product patent, if any, is intended
          solely for uses reasonably relating to the development and submission
          of information required under any law for the time being inforce, in
          India, or in a country other than India that regulates the
          manufacture, use, sale or import of the said product, strictly under
          the conditions as set forth in Section 107A of the Indian patents Act,
          1970, as amended in 2005, or an equivalent provision (Bolar exemption)
          thereof in a country other than India. The disclaimer is applicable
          till the expiration of the corresponding product patent(s), if any, in
          the respective. countries concerned. None of the products will be
          supplied to the countries wherein this could be in conflict with
          existing laws. However, the final responsibility lies exclusively with
          the buyer/ultimate customer.</span
        >
      </div>
    </div>


  </div>
  <div class="p-4" style="background-color: #f9fafc;">
    <div class="container" >
      <div>
        <h3>PELLETS</h3>
      </div>

      <div class="search-container nav justify-content-evenly">
        <mat-form-field appearance="fill" class="select1">
          <mat-label>PRODUCT NAME</mat-label>
          <mat-select (selectionChange)="productName($event)">
            <mat-option value="Omeprazole Pellets - 7.5%, 8.5%, 10%, 12.5%, 15%, 20%, 25%, etc.,">Omeprazole Pellets - 7.5%, 8.5%, 10%, 12.5%, 15%, 20%, 25%, etc.,</mat-option>
            <mat-option value="Esomeprazole Magnesium Pellets - 8.5%, 10%, 15%, 22.5%, 23.5%, 26.67% etc">Esomeprazole Magnesium Pellets - 8.5%, 10%, 15%, 22.5%, 23.5%, 26.67% etc</mat-option>
            <mat-option value="Esomeprazole Dihydrate Pellets - 8.5%, 10%, 15%, 22.5% etc.,">Esomeprazole Dihydrate Pellets - 8.5%, 10%, 15%, 22.5% etc.,</mat-option>
            <mat-option value="Lansoprazole Pellets - 6%, 7.5%, 8.5%, 10%, 10.5%, 11%, 11.2%, 11.5%, 12%, 14% etc.">Lansoprazole Pellets - 6%, 7.5%, 8.5%, 10%, 10.5%, 11%, 11.2%, 11.5%, 12%, 14% etc.</mat-option>
            <mat-option value="Rabeprazole Pellets - 7.5%, 8.5%, 13.33%, 15%, 17%, 20%, 22.5% etc.,">Rabeprazole Pellets - 7.5%, 8.5%, 13.33%, 15%, 17%, 20%, 22.5% etc.,</mat-option>
            <mat-option value="Pantoprazole Pellets - 15%, 21%, 22.5% etc.,">Pantoprazole Pellets - 15%, 21%, 22.5% etc.,</mat-option>
            <mat-option value="S-Pantoprazole Pellets - 20% etc.,">S-Pantoprazole Pellets - 20% etc.,</mat-option>
            <mat-option value="Dexrabeprazole Pellets - 8.5%, 10%, 15% etc.,">Dexrabeprazole Pellets - 8.5%, 10%, 15% etc.,</mat-option>
            <mat-option value="Dexlansoprazole Pellets - 8.5%, 10% etc.,">Dexlansoprazole Pellets - 8.5%, 10% etc.,</mat-option>
            <mat-option value="Tenatoprazole Pellets">Tenatoprazole Pellets</mat-option>
            <mat-option value="Omeprazole (EC) & Domperidone (SR)">Omeprazole (EC) & Domperidone (SR)</mat-option>
            <mat-option value="Pantoprazole Sodium (EC) & Domperidone IR & SR">Pantoprazole Sodium (EC) & Domperidone IR & SR</mat-option>
            <mat-option value="Rabeprazole Sodium (EC) & Domperidone (SR)">Rabeprazole Sodium (EC) & Domperidone (SR)</mat-option>
            <mat-option value="Esomeprazole Magnesium (EC) & Domperidone (SR)">Esomeprazole Magnesium (EC) & Domperidone (SR)</mat-option>
            <mat-option value="Domperidone Pellets 10%, 20%, 30%, 40%">Domperidone Pellets 10%, 20%, 30%, 40%</mat-option>
            <mat-option value="Domperidone (SR) Pelles - 10%, 20%, 30%, 40%">Domperidone (SR) Pelles - 10%, 20%, 30%, 40%</mat-option>
            <mat-option value="Itopride HCl (SR) Pellets - 60%">Itopride HCl (SR) Pellets - 60%</mat-option>
            <mat-option value="Cinitapride Pellets">Cinitapride Pellets</mat-option>
            <mat-option value="Diclofenac Sodium Pellets (SR) - 40%, 50%">Diclofenac Sodium Pellets (SR) - 40%, 50%</mat-option>
            <mat-option value="Diclofenac Potassium Pellets (SR) - 40%, 50%">Diclofenac Potassium Pellets (SR) - 40%, 50%</mat-option>
            <mat-option value="Ketoprofen Pellets (SR) - 70%">Ketoprofen Pellets (SR) - 70%</mat-option>
            <mat-option value="Itraconazole Pellets - 20%, 22%">Itraconazole Pellets - 20%, 22%</mat-option>
            <mat-option value="Terbinafine Hcl Pellets">Terbinafine Hcl Pellets</mat-option>
            <mat-option value="Aspirin Pellets - 30%, 50%, 60%">Aspirin Pellets - 30%, 50%, 60%</mat-option>
            <mat-option value="Clopidogrel Pellets - 30%, 50%, 60%">Clopidogrel Pellets - 30%, 50%, 60%</mat-option>
            <mat-option value="Venlafaxine HCI Pellets (SR) - 25%, 33%, 35%">Venlafaxine HCI Pellets (SR) - 25%, 33%, 35%</mat-option>
            <mat-option value="Fluoxetine HCI Pellets 70%">Fluoxetine HCI Pellets 70%</mat-option>
            <mat-option value="Levomilnacipran Hcl Pellets">Levomilnacipran Hcl Pellets</mat-option>
            <mat-option value="Diltiazem HCI Pellets 50%">Diltiazem HCI Pellets 50%</mat-option>
            <mat-option value="Metoprolol Succinate Pellets 50%, 60%">Metoprolol Succinate Pellets 50%, 60%</mat-option>
            <mat-option value="Nicardipine Pellets">Nicardipine Pellets</mat-option>
            <mat-option value="Telmisartan Pellets">Telmisartan Pellets</mat-option>
            <mat-option value="Flurbiprofen Pellets 57 .1 4%">Flurbiprofen Pellets 57 .1 4%</mat-option>
            <mat-option value="Indomethacin Pellets 20%">Indomethacin Pellets 20%</mat-option>
            <mat-option value="Donepezil pellets">Donepezil pellets</mat-option>
            <mat-option value="Galantamine Pellets">Galantamine Pellets</mat-option>
            <mat-option value="Atorvastatin Pellets 7.5%, 10.0%">Atorvastatin Pellets 7.5%, 10.0%</mat-option>
            <mat-option value="Fenofibrate Pellets">Fenofibrate Pellets</mat-option>
            <mat-option value="Levosulpiride Pellets - 50%">Levosulpiride Pellets - 50%</mat-option>
            <mat-option value="Duloxetine EC Pellets 16%, 17%, 20%">Duloxetine EC Pellets 16%, 17%, 20%</mat-option>
            <mat-option value="Tamsulosin Pellets (SR) - 0.12%, 0.2%,">Tamsulosin Pellets (SR) - 0.12%, 0.2%,</mat-option>
            <mat-option value="Silodosin Pellets - 2%, 4%">Silodosin Pellets - 2%, 4%</mat-option>
            <mat-option value="Dutasteride Pellets 0.5%">Dutasteride Pellets 0.5%</mat-option>
            <mat-option value="Iron poly maltose pellets">Iron poly maltose pellets</mat-option>
            <mat-option value="Ferrous Sulphate & Folic acid pellets">Ferrous Sulphate & Folic acid pellets</mat-option>
            <mat-option value="Dabigatran Etexilate Mesylate Pellets - 40%">Dabigatran Etexilate Mesylate Pellets - 40%</mat-option>
            <mat-option value="Mebeverine Pellets (SR) - 20%, 40%">Mebeverine Pellets (SR) - 20%, 40%</mat-option>
            <mat-option value="Orlistat Pellets - 50%">Orlistat Pellets - 50%</mat-option>
            <mat-option value="Aprepitant pellets">Aprepitant pellets</mat-option>
            <mat-option value="Budesonide Pellets (SR) - 1.0%">Budesonide Pellets (SR) - 1.0%</mat-option>
            <mat-option value="Ciprofloxacin Pellets 20%">Ciprofloxacin Pellets 20%</mat-option>
            <mat-option value="Pregabalin Pellets 50%">Pregabalin Pellets 50%</mat-option>
            <mat-option value="Theophylline Pellets 70%">Theophylline Pellets 70%</mat-option>
            <mat-option value="Tizanidine HCI Pellets (SR) - 3.5%">Tizanidine HCI Pellets (SR) - 3.5%</mat-option>
            <mat-option value="Tamsulosin & Dutasteride Pellets">Tamsulosin & Dutasteride Pellets</mat-option>
            <mat-option value="Oxeladin Pellets">Oxeladin Pellets</mat-option>
            <mat-option value="Mesalamine Pellets">Mesalamine Pellets</mat-option>
            <mat-option value="Tacrolimus Pellets">Tacrolimus Pellets</mat-option>
            <mat-option value="Tramadol HCI Pellets 10%">Tramadol HCI Pellets 10%</mat-option>
            <mat-option value="Tolterodine Tartrate Pellets 2.0%">Tolterodine Tartrate Pellets 2.0%</mat-option>
            <mat-option value="Combination & speciality Pellets">Combination & speciality Pellets</mat-option>
            <mat-option value="Taste Masking Pellets">Taste Masking Pellets</mat-option>
            <mat-option value="Mups">Mups</mat-option>
            <mat-option value="Micro granules - for direct compression">Micro granules - for direct compression</mat-option>
            <mat-option value="Any Other Pellets can be developed on request">Any Other Pellets can be developed on request</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>THERAPEUTIC CATEGORY</mat-label>
          <mat-select (selectionChange)="therapeuticCategory($event)">
            <mat-option value="Antiulcerative">Antiulcerative</mat-option>
            <mat-option value="Blended / Combination Pellets">Blended / Combination Pellets</mat-option>
            <mat-option value="Antiemetic">Antiemetic</mat-option>
            <mat-option value="Gastroprokinetic">Gastroprokinetic</mat-option>
            <mat-option value="Anti inflammatory">Anti inflammatory</mat-option>
            <mat-option value="Antifungal">Antifungal</mat-option>
            <mat-option value="Antiplatelet">Antiplatelet</mat-option>
            <mat-option value="Antidepressant">Antidepressant</mat-option>
            <mat-option value="Antihypertensive">Antihypertensive</mat-option>
            <mat-option value="Analgesic">Analgesic</mat-option>
            <mat-option value="Alzheimer's disease (AD)">Alzheimer's disease (AD)</mat-option>
            <mat-option value="Antihyperlipidemic">Antihyperlipidemic</mat-option>
            <mat-option value="Antipsychotic/Gastroprokinetic">Antipsychotic/Gastroprokinetic</mat-option>
            <mat-option value="Antipsychotic">Antipsychotic</mat-option>
            <mat-option value="Benign Prostatic Hypertrophy">Benign Prostatic Hypertrophy</mat-option>
            <mat-option value="Benign Prostatic Hyperplasia (BPH)">Benign Prostatic Hyperplasia (BPH)</mat-option>
            <mat-option value="Iron Deficiency Anaemia">Iron Deficiency Anaemia</mat-option>
            <mat-option value="Antithrombotic / Anticoagulant">	Antithrombotic / Anticoagulant</mat-option>
            <mat-option value="Antispasmodics">	Antispasmodics</mat-option>
            <mat-option value="Anti Obesity">Anti Obesity</mat-option>
            <mat-option value="Antiemetic">	Antiemetic</mat-option>
            <mat-option value="Antiasthmatic">	Antiasthmatic</mat-option>
            <mat-option value="Antibiotic">	Antibiotic</mat-option>
            <mat-option value="Antiepileptic/DPN/Fibromyalgia">	Antiepileptic/DPN/Fibromyalgia</mat-option>
            <mat-option value="Antiasthmatic/COPD">	Antiasthmatic/COPD</mat-option>
            <mat-option value="Muscle Relaxants">	Muscle Relaxants</mat-option>
            <mat-option value="BPH(Blended/Combination Pellets)">BPH(Blended/Combination Pellets)</mat-option>
            <mat-option value="Cough Suppressant">	Cough Suppressant</mat-option>
            <mat-option value="Inflammatory bowel Disease (IBD)">	Inflammatory bowel Disease (IBD)</mat-option>
            <mat-option value="Immunosuppressant">Immunosuppressant</mat-option>
            <mat-option value="Opioid analgesic">	Opioid analgesic</mat-option>
            <mat-option value="Overactive bladder">Overactive bladder</mat-option>
            <mat-option value="Other Pellets">	Other Pellets</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            placeholder="search"
            autocomplete="off"
            (keyup)="filterData($event)"
          />
        </mat-form-field>
      </div>
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8 text-center pellet"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>S. NO</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">S. NO:</span>
              <span class="span-text">{{ element.id }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>PRODUCT NAME</th>
          <td mat-cell *matCellDef="let element"> <span class="mobile-label">PRODUCT NAME</span> <span class="span-text">{{ element.productName }}</span></td>
        </ng-container>

        <ng-container matColumnDef="therapeuticCategory">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            THERAPEUTIC CATEGORY
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">THERAPEUTIC CATEGORY</span>
            <span class="span-text">{{ element.therapeuticCategory }}</span>

          </td>
        </ng-container>

        <ng-container matColumnDef="casNumber">
          <th mat-header-cell *matHeaderCellDef>CAS NUMBER</th>
          <td mat-cell *matCellDef="let element"> <span class="mobile-label">CAS NUMBER</span><span class="span-text">{{ element.casNumber }}</span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 25,50, 100]"
      >
      </mat-paginator>
    </div>
  </div>
</div>
