

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>



<!-- <div class="language-picker-area">
  <div class="picker-label">choose language</div>
  <select (change)="selectLanguage($event)" class="language-picker" name="" id="">
    <option value="en-US"></option>
    <option value="fr-FR"></option>
    <option value="de-DE"></option>
  </select>
</div>
<div class="content">
  <h1>Aewomer supper app</h1>
  <h3>welcome to the super app</h3>
  <button class="btn">
    show info
  </button>
</div> -->
