<div class="our-infrastructure">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-r-and-d-navbar></app-r-and-d-navbar>
 <div class="our-infrastructure-content">
  <div class="container">
    <div class="m-5">
      <div class="div-1">
        <h3>Metrochem's Expertise:</h3>
        <p>
          The Research Centre in Hyderabad covers an area of 1000 sq. meters.
          The centre has 3 fully equipped laboratories supported by a
          well-equipped analytical laboratory. The company also subscribes to
          Sci-Finder to be able to access the current literature.
        </p>
        <div class="div-1">
          <h3>Analytical Support Equipment:</h3>
          <ul>
            <li>Gas Chromatograph</li>
            <li>UV Spectrophotometer</li>
            <li>HPLC systems</li>
            <li>IR Spectrophotometer</li>
            <li>Polarimeter</li>
            <li>Auto Titrator</li>
            <li>Stability Chambers</li>
            <li>KF Apparatus</li>
            <li>UV Chamber</li>
            <li>Digital pH meter</li>
            <li>Sieve shaker</li>
            <li>Dissolution apparatus</li>
            <li>Melting Point Apparatus</li>
          </ul>
        </div>
        <div class="div-1">
          <h3>Environmental Policy:</h3>
          <ul>
            <li>A responsible manufacturer of Active pharmaceutical ingredients and Intermediates, recognize and believe that environmental management is one of its highest corporate priorities and conducts all aspects of its business as responsible stewards of the environment.</li>
            <li>Integration of the principles and practices of conserving the natural resources and reducing the Pollution form are essential elements of the environmental management</li>
            <li>Compliance to relevant laws and regulations and commitment for continual Improvement</li>
            <li>Metrochem moving forward to achieve this by providing the framework for setting the environmental Objectives and targets, which are under implementation and documented.</li>
            <li>Metrochem communicates its policy to all personnel in the organization and made available to the public.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
