<div class="our-expertise">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-r-and-d-navbar></app-r-and-d-navbar>
 <div class="our-expertise-content">
  <div class="container">
    <div class="m-5">
      <div class="div-1">
        <h3>Metrochem's Expertise:</h3>
        <ul>
          <li>Metrochem API’s R&D and Manufacturing facilities in India are built with high Quality Standards. We be proud for high skilled teams and their impressive R&D record.</li>
          <li>Metrochem’s R&D team has implemented innovative and cost-effective processes for several API’s.</li>
          <li>Our R& D Centre Provides Research of APIs and Intermediates involving multi-step synthesis. We have a successful track record in Implementing and Developing processes and scaling up from lab (kilo) to commercial.</li>
          <li>
            Our expertise in Research, Analytical Method Development, Synthesis of Impurities, Scale-Up and Technology Transfer enables us to develop new Products and meet the needs of life science companies worldwide.
          </li>
          <li>Metrochem API’s progress in diverse businesses has been made possible through the contribution of R&D for Quality, non-Infringing processes for product development and cost reduction through process innovation.</li>
          <li>Our Research Centre meets cGLP requirements and focused in the areas of Organic synthesis, Analytical Research, and Dosage development.</li>
          <li>Our Research Centre in Hyderabad with an area of 1000 sq. meters has fully equipped three laboratories supported by one well-equipped analytical laboratory. We also subscribe to Sci-Finder to be able to access the current literature.</li>
          <li>Competence to provide Dossiers / Technical Packages to all Regulatory countries.</li>
          <li>Customs Research, Customs Synthesis services.</li>
        </ul>
      </div>
    </div>
  </div>
 </div>
</div>
