.nav-item{
  justify-content: center;
  .nav-link{
    font-size: 16px !important;
    font-weight: 600;
    color: #000;
    // &:hover,
    // &.active{
    //   background-color: transparent !important;
    //   color: #EB7A24 !important;
    //   &::after{
    //     content: '';
    //     margin: auto;
    //     width: 100%;
    //     height: 2px;
    //     display: block;
    //     background-color: #EB7A24 !important;
    //   }
    // }

  }
}
.about-nav{
  background-color: #eaeaea !important;
}

.navbar {
  padding: 10px 0 !important;
  background-color: #fff !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 49%;
}
.navbar-expand-lg{
  padding: 15px 10px  !important;
  background-color: #fff !important;
  z-index: 1 !important;

}
.navbar-light .navbar-nav .nav-item .nav-link {
  padding-bottom: 0;
}
@media (max-width: 1024px){

  .navbar-light .navbar-nav .nav-item{
      padding-right: 10px !important;
      padding-left: 12px !important;
      text-align: center;
  }
  .navbar-.navbar-light .navbar-nav .nav-item  {
      padding-right: 20px !important;
}
.navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 13px !important;
    display: block;
}
.li{
  position: relative;
  right: 10px;

}

}
@media only screen and (max-width: 991px){
  .navbar-light .navbar-toggler {
    color: #000;
    font-size: inherit;
    box-shadow: unset;
    border: none;
    // padding: 4px;;
    margin: auto;
}

}

@media (min-width:320px) and (max-width:500px){
  .navbar-expand-lg{
    padding: 10px  !important;
  }
  .navbar{
    top: 255px;
  }
  .nav-item{
    .nav-link{
      font-size: 12px !important;
    }
  }
  .about-nav{
    background-color: #eaeaea !important;
  }
  .about-nav{
    background-color: #eaeaea !important;
  }
}
@media (min-width:501px) and (max-width:768px){
  .navbar{
    top: 40%;
  }
}

@media (min-width:769px) and (max-width:990px){
  .navbar{
    top: 40% !important;
  }
}
@media (min-width:991px) and (max-width:1024px){
  .navbar{
    top: 40%;
  }
}
@media (min-width:1025px) and (max-width:1200px){
  .navbar{
    top: 44%;
  }
  .nav-item{
    .nav-link{
      font-size: 14px !important;

    }
  }
  .navbar-light .navbar-nav .nav-item{
    padding: 0 18px;
  }
}
@media (min-width:1201px) and (max-width:1440px){
  .navbar{
    top: 54.5%;
  }
}
@media (min-width:1441px) and (max-width:1550px){
  .navbar{
    top: 54.5%;
  }
}

@media (min-width:1551px){
  .navbar{
    top: 54.5%;
  }
}
