<!-- <div class="about-nav">
  <div class="container">
    <nav class="nav nav-pills justify-content-between">
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/apis-generic-products-portfolio"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >APIs-Generic Product Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/apis-under-validation"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >APIs-Under Validation</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/development-pipeline"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >Development Pipeline</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/pellets"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >Pellets</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/intermediates"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >Intermediates  </a
        >
      </li>
    </nav>
  </div>
</div> -->





<a class="close-navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
  (click)="closeNavbar()"></a>

<nav class="navbar navbar-expand-lg navbar-light flex-wrap align-items-center justify-content-center justify-content-md-between" [class.active]="classApplied" ngStickyNav
  stickyClass="sticky-box-shadow" ngStickyNav [ngClass]="statusClass" >
  <div class="container">

    <button class="navbar-toggler" type="button" (click)="toggleClass()">
      <span class="burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="navbarSupportedContent">
      <ul class="navbar-nav  align-items-center">
        <!-- <li class="nav-item">
          <a
            class="nav-link "
            rel="ugc"
            routerLink="/our-story"
            routerLinkActive="active"
            (click)="scrollToTop()"
            > Our Story</a
          >
        </li> -->
        <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/apis-generic-products-portfolio"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >APIs-Generic Product Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/apis-under-validation"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >APIs-Under Validation / Development Pipeline</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/development-pipeline"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >Development Pipeline</a
        >
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/pellets"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >Pellets</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          rel="ugc"
          routerLink="/intermediates"
          routerLinkActive="active"
          (click)="scrollToTop()"
          >Intermediates  </a
        >
      </li>
      </ul>

      <ul class="navbar-nav ml-auto for-responsive">
        <li class="nav-item">
          <a
            class="nav-link"
            rel="ugc"
            routerLink="/apis-generic-products-portfolio"
            routerLinkActive="active"
            (click)="scrollToTop()"
            >APIs-Generic Product Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="ugc"
            routerLink="/apis-under-validation"
            routerLinkActive="active"
            (click)="scrollToTop()"
            >APIs-Under Validation / Development Pipeline</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            rel="ugc"
            routerLink="/development-pipeline"
            routerLinkActive="active"
            (click)="scrollToTop()"
            >Development Pipeline</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            rel="ugc"
            routerLink="/pellets"
            routerLinkActive="active"
            (click)="scrollToTop()"
            >Pellets</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="ugc"
            routerLink="/intermediates"
            routerLinkActive="active"
            (click)="scrollToTop()"
            >Intermediates  </a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
