<div class="our-r-and-d">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-r-and-d-navbar></app-r-and-d-navbar>
 <div class="our-r-and-d-content">
  <div class="container">
    <div class="m-5">
      <h3>Research and Development Focus:</h3>
      <p>
        Metrochem API has the domain expertise and State-of-the-Art-facilities
        to develop analytical methods for evaluating quality of raw materials,
        intermediates and final products. It has capabilities of analyzing the
        impurity profiles and identification of degradation products in their
        active substances with the use of sophisticated instruments such as
        GC-MS/MS, multi nuclei NMR(external sources), Preparative HPLC, HPLCs
        with detectors such as UV, RI, PDA, and GCs.
      </p>
      <div class="div-1">
        <h3>Key R&D activities::</h3>
        <ul>
          <li>Active Pharmaceutical Ingredients.</li>
          <li>Development of Advance Intermediates.</li>
          <li>Fine Chemicals.</li>
          <li>
            Continuous process improvement for cost reduction to provide
            long-term sustainability to various businesses.
          </li>
        </ul>
      </div>
      <div class="div-1">
        <p>
          Custom synthesis at Metrochem API is tailored to meet the customer
          requirements, be it as a laboratory scale-up, commercial scale-up or
          post commercialization stages.
        </p>
        <p>
          Metrochem API offers its comprehensive services along with a promise
          of quality and consistency. These are made available at a speed and
          cost that are mutually beneficial.
        </p>
        <p>
          We are committed to leverage innovation at every stage of the Pharma
          value chain to deliver value to our partners and enable them to take
          their products to the market faster and remain competitive overall.
        </p>
        <p>
          We provide a nurturing environment to our team of scientists and
          research technicians. <a href=""> Contact Us for queries .</a>
        </p>
      </div>
    </div>
  </div>
 </div>
</div>
