

<!-- <p style="margin-top:10rem;">home works!</p> -->

<!-- <div  style="margin:5.5rem 0 .5rem;">
  <div class="container">
    <div class="scrolling-text" [@scroll]="state" (@scroll.done)="scrollDone()">
      <span><b>Proud Moment:</b> Metrochem API Private Limited received the <strong>India Pharma- Bulk Drug Company of the year Award 2020 </strong> from the Government of India for outstanding contribution in the field of API Bulk Drugs.</span>
       <span><b>Product Name:</b>Posaconazole Form – I – <b>DMF No:</b> 36969- <b>Date of Submission: </b> 30-Jun-2022</span>
       <span><b>Product Name:</b>Chromic Chloride Hexahydrate USP –<b> DMF No:</b> 36959- <b> DMF No:</b> 16-Jun-2022</span>
      <span><b>Product Name:</b>Cupric Sulfate Pentahydrate USP –<b> DMF No:</b> 36962- <b> DMF No:</b> 14-Jun-2022</span>
      <span><b>Product Name:</b>Manganese Sulfate Monohydrate USP –<b> DMF No:</b> 36960- <b> DMF No:</b> 10-Jun-2022</span>
      <span><b>Product Name:</b>Selenious Acid USP –<b> DMF No:</b> 36958- <b> DMF No:</b> 07-Jun-2022</span>
      <span><b>Product Name:</b>Cupric Chloride Dihydrate USP –<b> DMF No:</b> 36961- <b> DMF No:</b> 04-Jun-2022</span>
      <span><b>Product Name: </b>Isavuconazonium Sulfate –<b> DMF No:</b> 036974- <b> DMF No:</b> 06-May-2022</span>
      <span><b>Product Name:</b>Bilastine –<b> DMF No:</b> 036965- <b> DMF No:</b> 30-Apr-2022</span>
      <span><b>Product Name:</b>Mirabegron-<b> DMF No:</b> 36973- <b> DMF No:</b> 27-Apr-2022</span>
      <span><b>Product Name:</b>Zinc Sulfate Heptahydrate USP-<b> DMF No:</b> 36963- <b> DMF No:</b> 31-Mar-2022</span>
      <span><b>Product Name:</b>Dapagliflozin (Amorphous)-<b> DMF No:</b> 36608- <b> DMF No:</b> 10-Feb-2022</span>
      </div>
  </div>
</div> -->
<div  class = "scroll-div" >

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center  py-2 text-white px-1 news">
                  <span class="d-flex align-items-center "><b>News :</b></span>
                </div>
                <marquee class="news-scroll" behavior="scroll" direction="left" loop="infinite" scrollamount="3"
                scrolldelay="60"
                truespeed="truespeed"  onmouseover="this.stop();" onmouseout="this.start();">
                   <!-- <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </a>
                   <span class="dot"></span>
                   <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </a> <span class="dot"></span>
                    <a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse </a> -->
                    <span><b>Proud Moment : </b>  Metrochem API Private Limited received the <strong>India Pharma- Bulk Drug Company of the year Award 2020 </strong> from the Government of India for outstanding contribution in the field of API Bulk Drugs. </span>
                    <span><b>Product Name : </b> Posaconazole Form – I – <b>DMF No:</b> 36969- <b>Date of Submission: </b> 30-Jun-2022</span>
                    <span><b>Product Name : </b> Chromic Chloride Hexahydrate USP –<b> DMF No:</b> 36959- <b> DMF No:</b> 16-Jun-2022</span>
                   <span><b>Product Name : </b> Cupric Sulfate Pentahydrate USP –<b> DMF No:</b> 36962- <b> DMF No:</b> 14-Jun-2022</span>
                   <span><b>Product Name : </b> Manganese Sulfate Monohydrate USP –<b> DMF No:</b> 36960- <b> DMF No:</b> 10-Jun-2022</span>
                   <span><b>Product Name : </b> Selenious Acid USP –<b> DMF No:</b> 36958- <b> DMF No:</b> 07-Jun-2022</span>
                   <span><b>Product Name : </b> Cupric Chloride Dihydrate USP –<b> DMF No:</b> 36961- <b> DMF No:</b> 04-Jun-2022</span>
                   <span><b>Product Name : </b> Isavuconazonium Sulfate –<b> DMF No:</b> 036974- <b> DMF No:</b> 06-May-2022</span>
                   <span><b>Product Name : </b> Bilastine –<b> DMF No:</b> 036965- <b> DMF No:</b> 30-Apr-2022</span>
                   <span><b>Product Name : </b> Mirabegron-<b> DMF No:</b> 36973- <b> DMF No:</b> 27-Apr-2022</span>
                   <span><b>Product Name : </b> Zinc Sulfate Heptahydrate USP-<b> DMF No:</b> 36963- <b> DMF No:</b> 31-Mar-2022</span>
                   <span><b>Product Name : </b> Dapagliflozin (Amorphous)-<b> DMF No:</b> 36608- <b> DMF No:</b> 10-Feb-2022</span>
                </marquee>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="main-banner">
  <div class="d-table">
      <div class="d-table-cell">
          <div class=" item-bg-one">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                              <div class="main-banner-text">
                                  <!-- <h2 style="">This site is under process</h2> -->

                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Product Name:Product Name:Product Name:Product Name:Product Name:Loxop -->

