<div class="api-generic-products">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="main-banner item-bg-one">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="main-banner-text"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-products-navbar></app-products-navbar>
  <div class="api-generic-products-content">
    <div class="container">
      <div class="m-5 text-justify">
        <div class="div-1 text-center">
          <h3 class="my-5">
            Metrochem API Pvt Ltd is a leading Active Pharmaceutical Ingredients
            manufacturers in india. We have our own R&D Center. We have
            international FDA approvals.
          </h3>
          <h3>
            We deliver customized Volume and Quality products to our customers
            across the world.
          </h3>
          <div class="my-5">
            <img src="../../../../assets/images/flags-300x29.png" alt="" />
          </div>
        </div>
        <div class="div-1">
          <span class="spical-text">
            Disclaimer : Metrochem API Pvt Ltd respects the intellectual property
            rights of others. Some of the Active Pharmaceuticals Ingredients
            (APIs) listed in the Metrochem’s product list or brochure or in the
            product list uploaded in Metrochem’s website may be protected by a
            valid patent in India or in any other countries concerned. However,
            mentioning of the name of such product(s) in the product brochure or
            the product list shall not be construed as infringement in any manner
            whatsoever. Without prejudice to the foregoing, Metrochem’s supply of
            API being protected by a valid product patent, if any, is intended
            solely for uses reasonably relating to the development and submission
            of information required under any law for the time being inforce, in
            India, or in a country other than India that regulates the
            manufacture, use, sale or import of the said product, strictly under
            the conditions as set forth in Section 107A of the Indian patents Act,
            1970, as amended in 2005, or an equivalent provision (Bolar exemption)
            thereof in a country other than India. The disclaimer is applicable
            till the expiration of the corresponding product patent(s), if any, in
            the respective. countries concerned. None of the products will be
            supplied to the countries wherein this could be in conflict with
            existing laws. However, the final responsibility lies exclusively with
            the buyer/ultimate customer.
          </span>
        </div>
        <div class="div-1">
          <h3>Patents:</h3>
          <ul>
            <li>Process Patent granted for Preparing Prazole Precursors.</li>
            <li>
              Process Patent granted for Preparing 4-Chloro Pyridine Derivatives.
            </li>
            <li>Process Patent granted for Preparing Prazole Compounds.</li>
            <li>
              Process Patent granted for Preparing Esomeprazole Magnesium Salts.
            </li>
          </ul>
        </div>
      </div>
      <div class="icons border-bottom mb-5">
        <div class="nav justify-content-evenly">
          <li class="nav-item"><span><img src="../../../../assets/images/logo/web-icons-1.png" alt=""></span> Available</li>
          <li class="nav-item"><span><img src="../../../../assets/images/logo/web-icons-4.png" alt=""></span> Initiated</li>
          <li class="nav-item"><span><img src="../../../../assets/images/logo/web-icons-3.png" alt=""></span>Scheduled</li>
          <li class="nav-item"><span><img src="../../../../assets/images/logo/web-icons-2.png" alt=""></span>Ready to file</li>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="p-4" style="background-color: #f9fafc;">
  <div class="container">

    <div class="search-container nav justify-content-evenly">
      <mat-form-field appearance="fill">
        <mat-label>PRODUCT NAME</mat-label>
        <mat-select (selectionChange)="productName($event)">
          <mat-option value="Omeprazole">Omeprazole</mat-option>
          <mat-option value="Omeprazole Sodium">Omeprazole Sodium</mat-option>
          <mat-option value="Omeprazole Magnesium"
            >Omeprazole Magnesium</mat-option
          >
          <mat-option value="Esomeprazole Magnesium (3H2O)"
            >Esomeprazole Magnesium (3H2O)</mat-option
          >
          <mat-option value="Esomeprazole Magnesium (2H2O)"
            >Esomeprazole Magnesium (2H2O)</mat-option
          >
          <mat-option value="Esomeprazole Sodium">Esomeprazole Sodium</mat-option>
          <mat-option value="Rabeprazole Sodium">Rabeprazole Sodium</mat-option>
          <mat-option value="Dexrabeprazole Sodium"
            >Dexrabeprazole Sodium</mat-option
          >
          <mat-option value="Alogliptin Benzoate"
          >Alogliptin Benzoate</mat-option
        >
          <mat-option value="Lansoprazole">Lansoprazole</mat-option>
          <mat-option value="Dexlansoprazole">Dexlansoprazole</mat-option>
          <mat-option value="Dexlansoprazole Sesquihydrate Amorphous"
            >Dexlansoprazole Sesquihydrate Amorphous</mat-option
          >
          <mat-option value="Pantoprazole Sodium (Incl.Sesquihydrate)"
            >Pantoprazole Sodium (Incl.Sesquihydrate)</mat-option
          >
          <mat-option value="Pantoprazole Magnesium"
            >Pantoprazole Magnesium</mat-option
          >

          <mat-option value="Ilaprazole">Ilaprazole</mat-option>
          <mat-option value="Cinitapride Hydrogen Tartrate"
            >Cinitapride Hydrogen Tartrate</mat-option
          >
          <mat-option value="Prucalopride Succinate"
            >Prucalopride Succinate</mat-option
          >
          <mat-option value="Dapagliflozin Propanediol Monohydrate"
            >Dapagliflozin Propanediol Monohydrate</mat-option
          >
          <mat-option value="Saxagliptin Hcl">Saxagliptin Hcl</mat-option>
          <mat-option value="Teneligliptin HBr">Teneligliptin HBr</mat-option>
          <mat-option value="Imeglimin Hcl">Imeglimin Hcl</mat-option>
          <mat-option value="Vildagliptin">Vildagliptin</mat-option>
          <mat-option value="Itraconazole">Itraconazole</mat-option>
          <mat-option value="Posaconazole">Posaconazole</mat-option>
          <mat-option value="Oxiconazole Nitrate">Oxiconazole Nitrate</mat-option>
          <mat-option value="Fosravuconazoler">Fosravuconazoler</mat-option>
          <mat-option value="Sulconazole Nitrate">Sulconazole Nitrate</mat-option>
          <mat-option value="Clopidogrel Bisulphate (form I & II)"
            >Clopidogrel Bisulphate (form I & II)</mat-option
          >
          <mat-option value="Levocetirizine Di Hcl"
            >Levocetirizine Di Hcl</mat-option
          >
          <mat-option value="Bepotastine Besilate"
            >Bepotastine Besilate</mat-option
          >
          <mat-option value="Antazoline phosphate"
            >Antazoline phosphate</mat-option
          >
          <mat-option value="Antazoline Hydrochloride"
            >Antazoline Hydrochloride</mat-option
          >
          <mat-option value="Dimetindene maleate">Dimetindene maleate</mat-option>
          <mat-option value="Bilastine">Bilastine</mat-option>
          <mat-option value="Ozenoxacin">Ozenoxacin</mat-option>
          <mat-option value="Tedizolid Phosphate">Tedizolid Phosphate</mat-option>
          <mat-option value="Fosfomycin Trometamol"
            >Fosfomycin Trometamol</mat-option
          >
          <mat-option value="Garenoxacin Mesylate"
            >Garenoxacin Mesylate</mat-option
          >
          <mat-option value="Dexketoprofen Trometamol"
            >Dexketoprofen Trometamol</mat-option
          >
          <mat-option value="Etoricoxib">Etoricoxib</mat-option>
          <mat-option value="Loxoprofen Sodium">Loxoprofen Sodium</mat-option>
          <mat-option value="Montelukast Sodium">Montelukast Sodium</mat-option>
          <mat-option value="Tofacitinib Citrate">Tofacitinib Citrate</mat-option>
          <mat-option value="Lurasidone Hcl">Lurasidone Hcl</mat-option>
          <mat-option value="Azilsartan Medoxomil Potassium"
            >Azilsartan Medoxomil Potassium</mat-option
          >
          <mat-option value="Nicardipine">Nicardipine</mat-option>
          <mat-option value="Febuxostat">Febuxostat</mat-option>
          <mat-option value="Bempedoic acid">Bempedoic acid</mat-option>
          <mat-option value="Dabigatran Etexilate Mesylate"
            >Dabigatran Etexilate Mesylate</mat-option
          >
          <mat-option value="Flecainide Acetate">Flecainide Acetate</mat-option>
          <mat-option value="Ivabradine Hydrochloride"
            >Ivabradine Hydrochloride</mat-option
          >
          <mat-option value="Ranolazine">Ranolazine</mat-option>
          <mat-option value="Gabapentin">Gabapentin</mat-option>
          <mat-option value="Lacosamide">Lacosamide</mat-option>
          <mat-option value="Vigabatrin">Vigabatrin</mat-option>
          <mat-option value="Stiripentol">Stiripentol</mat-option>
          <mat-option value="Tranexamic Acid">Tranexamic Acid</mat-option>
          <mat-option value="Elobixibat Hydrate">Elobixibat Hydrate</mat-option>
          <mat-option value="Migalastat Hydrochloride"
            >Migalastat Hydrochloride</mat-option
          >
          <mat-option value="Pirfenidone">Pirfenidone</mat-option>
          <mat-option value="Silodosin">Silodosin</mat-option>
          <mat-option value="Flurbiprofen">Flurbiprofen</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>THERAPEUTIC CATEGORY</mat-label>
        <mat-select (selectionChange)="therapeuticCategory($event)">
          <mat-option value="Antiulcerative">Antiulcerative</mat-option>
          <mat-option value="Gastroprokinetic">Gastroprokinetic</mat-option>
          <mat-option value="Antidiabetic">Antidiabetic</mat-option>
          <mat-option value="Antifungal">Antifungal</mat-option>
          <mat-option value="Antiplatelet">Antiplatelet</mat-option>
          <mat-option value="Antihistamine">Antihistamine</mat-option>
          <mat-option value="Antibiotic">Antibiotic</mat-option>
          <mat-option value="Analgesic">Analgesic</mat-option>
          <mat-option value="Antiasthmatic">Antiasthmatic</mat-option>
          <mat-option value="Antirheumatic">Antirheumatic</mat-option>
          <mat-option value="Antipsychotic">Antipsychotic</mat-option>
          <mat-option value="Antihypertensive">Antihypertensive</mat-option>
          <mat-option value="Antihyperuricemia(Gout)"
            >Antihyperuricemia(Gout)</mat-option
          >
          <mat-option value="Antihyperlipidemic">Antihyperlipidemic</mat-option>
          <mat-option value="Antithrombotic/Anticoagulant"
            >Antithrombotic/Anticoagulant</mat-option
          >
          <mat-option value="Antianginal">Antianginal</mat-option>
          <mat-option value="Antiepileptic">Antiepileptic</mat-option>
          <mat-option value="Anticonvulsant/Dravet Syndrome"
            >Anticonvulsant/Dravet Syndrome</mat-option
          >
          <mat-option value="Irritable Bowel Syndrome - Constipation"
            >Irritable Bowel Syndrome - Constipation</mat-option
          >
          <mat-option value="Fabry Disease">Fabry Disease</mat-option>
          <mat-option value="Idiopathic Pulmonary Fibrosis"
            >Idiopathic Pulmonary Fibrosis</mat-option
          >
          <mat-option value="Benign Prostatic Hyperplasia (BPH)"
            >Benign Prostatic Hyperplasia (BPH)</mat-option
          >
          <mat-option value="Analgesic">Analgesic</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CAS NUMBER</mat-label>
        <mat-select (selectionChange)="onChange($event)">
          <mat-option value="73590-58-6">73590-58-6</mat-option>
          <mat-option value="95510-70-6">95510-70-6</mat-option>
          <mat-option value="95382-33-5">95382-33-5</mat-option>
          <mat-option value="217087-09-7">217087-09-7</mat-option>
          <mat-option value="217087-10-0">217087-10-0</mat-option>
          <mat-option value="161796-78-7">161796-78-7</mat-option>
          <mat-option value="117976-90-6">117976-90-6</mat-option>
          <mat-option value="171440-18-9">171440-18-9</mat-option>
          <mat-option value="103577-45-3">103577-45-3</mat-option>
          <mat-option value="313640-86-7">313640-86-7</mat-option>
          <mat-option value="164579-32-2">164579-32-2</mat-option>
          <mat-option value="471293-63-7">471293-63-7</mat-option>
          <mat-option value="172152-36-2">172152-36-2</mat-option>
          <mat-option value="66564-14-5">66564-14-5</mat-option>
          <mat-option value="179474-85-2">179474-85-2</mat-option>
          <mat-option value="461432-26-8">461432-26-8</mat-option>
          <mat-option value="709031-78-7">709031-78-7</mat-option>
          <mat-option value="906093-29-6">906093-29-6</mat-option>
          <mat-option value="775351-65-0">775351-65-0</mat-option>
          <mat-option value="274901-16-5">274901-16-5</mat-option>
          <mat-option value="84625-61-6">84625-61-6</mat-option>
          <mat-option value="171228-49-2">171228-49-2</mat-option>
          <mat-option value="64211-46-7">64211-46-7</mat-option>
          <mat-option value="351227-64-0">351227-64-0</mat-option>
          <mat-option value="61318-90-9">61318-90-9</mat-option>
          <mat-option value="120202-66-6">120202-66-6</mat-option>
          <mat-option value="130018-87-0">130018-87-0</mat-option>
          <mat-option value="190786-44-8">190786-44-8</mat-option>
          <mat-option value="154-68-7">154-68-7</mat-option>
          <mat-option value="2508-72-7">2508-72-7</mat-option>
          <mat-option value="3614-69-5">3614-69-5</mat-option>
          <mat-option value="202189-78-4">202189-78-4</mat-option>
          <mat-option value="245765-41-7">245765-41-7</mat-option>
          <mat-option value="856867-55-5">856867-55-5</mat-option>
          <mat-option value="78964-85-9">78964-85-9</mat-option>
          <mat-option value="223652-90-2">223652-90-2</mat-option>
          <mat-option value="156604-79-4">156604-79-4</mat-option>
          <mat-option value="202409-33-4">202409-33-4</mat-option>
          <mat-option value="226721-96-6">226721-96-6</mat-option>
          <mat-option value="151767-02-1">151767-02-1</mat-option>
          <mat-option value="540737-29-9">540737-29-9</mat-option>
          <mat-option value="367514-88-3">367514-88-3</mat-option>
          <mat-option value="86303-24-7">86303-24-7</mat-option>
          <mat-option value="55985-32-5">55985-32-5</mat-option>
          <mat-option value="144060-53-7">144060-53-7</mat-option>
          <mat-option value="738606-46-7">738606-46-7</mat-option>
          <mat-option value="872728-81-9">872728-81-9</mat-option>
          <mat-option value="54143-55-4">54143-55-4</mat-option>
          <mat-option value="148849-67-6">148849-67-6</mat-option>
          <mat-option value="95635-56-6">95635-56-6</mat-option>
          <mat-option value="60142-96-3">60142-96-3</mat-option>
          <mat-option value="175481-36-4">175481-36-4</mat-option>
          <mat-option value="60643-86-9">60643-86-9</mat-option>
          <mat-option value="49763-96-4">49763-96-4</mat-option>
          <mat-option value="1197-18-8">1197-18-8</mat-option>
          <mat-option value="439087-18-0">439087-18-0</mat-option>
          <mat-option value="108147-54-2">108147-54-2</mat-option>
          <mat-option value="53179-13-8">53179-13-8</mat-option>
          <mat-option value="160970-54-7">160970-54-7</mat-option>
          <mat-option value="5104-49-4">5104-49-4</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="search"
          autocomplete="off"
          (keyup)="filterData($event)"
        />
      </mat-form-field>
    </div>



    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8 text-center"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>S. NO</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">S. NO:</span>
         <span class="span-text"> {{element.sno}}</span></td>


      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>PRODUCT NAME</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">PRODUCT NAME:</span>
          <span  class="span-text">  {{ element.productName }}</span>
         </td>
      </ng-container>

      <ng-container matColumnDef="DMF">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>DMF</th>
        <td mat-cell *matCellDef="let element" class="imgicon">
          <span class="mobile-label">DMF:</span>

          <span class="span-text"><img src="{{element.DMF}}" alt=""></span>

        </td>
      </ng-container>
      <ng-container matColumnDef="USDMF">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>USDMF</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">USDMF:</span>

          <span class="span-text"><img src="{{ element.USDMF }}" alt=""> </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="CEP">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>CEP</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">CEP:</span>

          <span class="span-text"> <img src="{{ element.CEP }}" alt=""></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="therapeuticCategory">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          THERAPEUTIC CATEGORY
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">THERAPEUTIC CATEGORY:</span>
          <span class="span-text"> {{ element.therapeuticCategory }}</span>

        </td>
      </ng-container>

      <ng-container matColumnDef="casNumber">
        <th mat-header-cell *matHeaderCellDef>CAS NUMBER</th>
        <td mat-cell *matCellDef="let element">  <span class="mobile-label">CAS NUMBER:</span>
         <span class="span-text"> {{ element.casNumber }}</span></td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>DETAILS</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">DETAILS:</span>

          <a target="_blank" class="span-text" routerLink="/apis-generic-products-portfolio/{{element.id}}"  (click)="scrollToTop()"> {{ element.details }} </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator  #paginator
    [pageSize]="20" [pageSizeOptions]="[ 20, 40, 65]"
    showFirstLastButtons
    >
  </mat-paginator>
    <!-- <mat-paginator
      #paginator
      [pageSize]="40"
      [pageSizeOptions]="[2, 5, 10, 25, 100]"
    >
    </mat-paginator> -->
  </div>
</div>

