
<div class="about">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="main-banner item-bg-one">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                              <div class="main-banner-text">
                                  <!-- <h2 style="">This site is under process</h2> -->

                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="">
  <app-about-nav></app-about-nav>
<div class="container content">
    <div class="d-flex align-items-center m-5">
      <div class="col-6">
        <img src="../../../../assets/images/logo/nvrao.png" alt="">
      </div>
      <div class="col-6">
        <h2 class="text-end">Dr. N. Venkateswara Rao</h2>
          <h4 class="text-end"> PhD in Organic Chemistry</h4>
      </div>
    </div>
    <div class="my-5">
      <p><b>Dr.N. Venkateswara Rao</b> is the Chairman & Managing Director of Metrochem API Private Limited, which was established in 2004 at Hyderabad. He holds a PhD in Organic Chemistry with more than 30 years of experience in the Pharmaceutical Industry. His main research work focuses on Bulk Drugs, Intermediates. He has built this research after years of experience in research, evaluation, teaching both in education and industry.</p>
    <p>Dr. Rao’s passion towards chemistry & especially research in developing new molecules has driven Metrochem’s growth to this stage, a passion that keeps us always one step ahead.  He has been instrumental in taking Metrochem’s operations worldwide for us to achieve this global footprint to be known as the most preferred & reliable partners in the industry. We are all proud to be part of Metrochem team.</p>
    </div>
</div>

</div>
